[2018-02-06 19:43] jrsikors commented on #184
sounds like problem described in #118

The first 3 lines are identical:
**_System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileNotFoundException: Could not load file or assembly 'Replicon.Cryptography.SCrypt.MMA.dll' or one of its dependencies. The specified module could not be found._**

[2018-02-06 19:50] katzky commented on #184
Oh my bad.... I was only looking at open issues.

[2018-02-06 19:55] #184 closed

[2018-02-06 19:57] jrsikors commented on #184
Yeah I didn't mean it that way sorry ... github isn't easy to search through old issues.  I actually don't like how this works.  I would rather see 'known issues' stay open for this reason :smile:

I just remember seeing it a few weeks ago.

I'm assuming it worked then?

[2018-02-06 20:01] jrsikors commented on #184
Basically I re-read my post and realized that might have come across as slightly mean like "dude we already talked about this problem"... not intentional and didn't mean it that way at all !

[2018-02-07 08:31] shaohao2014 opened #185 "win10运行错误"
提示安装.net framework 4.7，win10上装不上，结果安装了4.6版本的，依然提示错误，求解决方法，谢谢！

[2018-02-07 12:08] PeterLinX opened #186 "BUG report"
![set parameters_2](https://user-images.githubusercontent.com/18521923/35915657-aaaab0c6-0c42-11e8-8cc8-1733c520d2a5.jpg)

[2018-02-07 15:45] jrsikors commented on #178
Are you good to go now @soonliteh

[2018-02-07 17:28] soonliteh commented on #178
Not really...

I no longer have problem with the third number (it seems to be synced to the current block height).
But, the second number is still in the 1.7 million and it has been two days since the re-installation.

So, I basically followed the steps you prescribed. I was able to do the offline block data sync (but the official guide is somewhat misleading). So, within the first 2 hours of re-i

[2018-02-07 18:30] jrsikors commented on #178
Yeah I never had the chance to try the "accelerated" thing.   I remember it took me a couple days and a few re-starts (NEO-GUI.exe and another process started eating up 100% of CPU after a while).

Sorry -- I got no other fix for you :(

[2018-02-08 05:22] #186 closed

[2018-02-08 05:49] soonliteh commented on #178
Everything is finally resolved! Here's a list of lessons learned, listed step-wise:

1. Backup wallet (.db3 and/or .json)
2. Delete all current NEO folders, only after wallet backup
3. Download the latest NEO-Gui
4. Download "Offline Synchronized Data"
5. Extract downloaded NEO-Gui into a folder in C:\ drive
6. Open the extracted NEO-Gui folder, and delete the "Chain" folder
7. Then, extract the d

[2018-02-08 06:28] erikzhang commented on #178
To contribute to [docs.neo.org](http://docs.neo.org), you can make pull request to https://github.com/neo-project/docs.

[2018-02-11 15:37] yolael opened #188 "My Neo was disappear.."
Hi, everyone..  help me anybody.

I login website "www.neotracker.io" to confirm my bounty of zpt coin.
When I login, I used privite key, and push "create keystore" button.
when I set my password of keystore, suddenly web site was changed to "www.neotracker.online" and then my neo was disapper....

![image](https://user-images.githubusercontent.com/36373839/36075091-e33b3b5c-0f8c-11e8-88fe-89cb08d

[2018-02-11 16:03] jrsikors commented on #188
I think your NEO is stolen unfortunately.  You must have clicked on the wrong/fake/phished link.

https://www.reddit.com/r/NEO_Coin/comments/7u1byi/15_neo_stolen_please_read/

https://bitcointalk.org/index.php?topic=2850494.0

I don't know if neotracker.io is compromised and hacked .. but neotracker.online is definitely the fake site used to steal people's funds.

You really should have used a wal

[2018-02-11 16:07] jrsikors commented on #188
You don't seem like you are the only one ... this address that you sent to looks like it's busy with lots of transactions (probably theft)

https://neotracker.io/address/AcQZuoHPUCRvdLogJLA3WtGoHBGaM1NzgP

[2018-02-11 16:11] yolael commented on #188
thanks for reply!

I assuranced use website " www.neotracker.io"
But, suddenly changed "neotracker.online" when I pushed "open wallet -> privite key" ...

Do you know how to contact admin ~ ?

[2018-02-11 16:11] jrsikors commented on #188
if you go to neotracker.io , in the bottom right of the page they list their twitter and facebook.

[2018-02-11 16:22] jrsikors commented on #188
I did a search on twitter for "neotracker.io" and went to the "latest" ... lots of people reporting same issue as you :disappointed:  .  Sorry bud ... just remember that it's only money at the end of the day.  I know it hurts, I've lost plenty of it gambling / investing so I know the feeling way too well, but it's not the end of the world !

There really are terrible people on this planet.

[2018-02-11 16:24] jrsikors commented on #147
@erikzhang can close this up .. no response

[2018-02-11 16:24] jrsikors commented on #150
@erikzhang can close this, no response from OP

[2018-02-11 16:34] jrsikors commented on #188
And I know you are desperate looking for help, so I don't mind trying to help, but it needs to be said for anyone else coming to this github as well looking for help ... **_that neotracker.io is not built/operated by the NEO team_**.

I don't want people coming here thinking that the NEO team is even remotely at fault for this.  There is 0% 'blame' for the real NEO team on this.

I'm not affiliate

[2018-02-11 16:52] yolael commented on #188
Oh.. I see... that's horrible on me...
But, thanks you for help and answer me.

Thanks~ Have a nice day.

[2018-02-11 18:23] #188 closed

[2018-02-11 18:23] #150 closed

[2018-02-11 18:23] #147 closed

[2018-02-12 05:39] cosmic-springs commented on #188
Hi.
I have now lost 9 NEO and around 2000 DBC. They disappeared from my wallet and the NEO are showing in my transaction history (-9). However, no transaction was made by me?? It’s everything i had :(

Hash: 49774c05a3c7a7d9e90912f168e834077988f58f806441469f04bca0ffa3021c
Time: 07/02/2018, 17:17:19
Wallet: AU6GkGRt4jeESJnM56mz9uJiwacNMTHjzH

Have I been hacked?
Is this just part of the mysterious

[2018-02-12 14:47] jrsikors commented on #188
NEO-GUI and NEO-CLI from neo.org are the only 2 wallets that were built by the NEO team... and they are 'safe'.  NEON isn't developed by NEO team, but is also pretty safe.

3rd party wallets are always the ones that get hacked and people lose funds... especially web based ones like neotracker.io.

Even NEON is a 3rd party wallet, but I would put it in that 99.99% safe.

So -- unfortunately you did

[2018-02-13 06:18] MattAliceSprings opened #189 "Neo Deposited to a second address"
Hi

I sent 18 NEO from an exchange to my address 17 Went to my address and 1 went to a different address that has thousands of NEO in it.
Can any one explain this to me, I lost Five NEO months ago like this.
Help please

6bfc11715693ed3467c2773dcf95a7eec249a2abff1ba153e2bd10a8ecc4a874 - Contract
1,919,303 - Block
AUv6oq7nbc3k4gscf1aCcrCQEVc2RgMb9J -18 NEO -KUcoin address
AK9dr2JFE5oazrsUtLdZW4Txb9

[2018-02-13 15:21] jrsikors commented on #189
What exchange are you using?
What wallet are you using to send your funds to?

It almost looks like the Exchange is the problem here and you need to take it up with them.

If you look at the last 5 transactions on:
https://neotracker.io/address/AYMsx8an5H7F8SfAw2hMZkhtcUBe74eP1L

it seems like every time someone is making a transfer, of GAS or NEO, AYMsx8an5H7F8SfAw2hMZkhtcUBe74eP1L seems to be ta

[2018-02-13 15:25] jrsikors commented on #189
If you look at this transaction:
https://neotracker.io/tx/d8b8f27e84032f06ddb59b49946365ffc7c43f8f98d85ef5bbd59a6dd23b0ab0

1 neo was sent FROM the mystery address to another address.  So the good news is it seems to be active and not a black hole.

[2018-02-15 21:52] jrsikors commented on #189
any update?
What exchange are you using?
What wallet are you using to send your funds to?

[2018-02-15 23:58] MattAliceSprings commented on #189
Ok

What it was is the exchange sent out two transactions on the one block, so there was no problem with the NEO chain, just me misinterpreting the data in the block explorer. I FKD up.

Thanks
Matt

[2018-02-16 17:26] jrsikors commented on #189
Good to hear your funds are safe !  No worries !

@erikzhang @MattAliceSprings  you can close this issue up

[2018-02-16 18:04] #189 closed

[2018-02-17 21:55] panzengott commented on #167
I had the same problem. I´ve been forced to resync the hole Blockchain.
And after 4 fuc ... Days of downloading.
Its rewarding me with full refusal and wont open !!!

error.log shows:
Neo.IO.Data.LevelDB.LevelDBException
Corruption: 24 missing files; e.g.: Chain/1239620.ldb
   bei Neo.IO.Data.LevelDB.NativeHelper.CheckError(IntPtr error)
   bei Neo.IO.Data.LevelDB.DB.Open(String name, Options opti

[2018-02-17 22:08] jrsikors commented on #167
check out:
#178

There are some steps towards the bottom of the thread that will potentially help speed it up

[2018-02-17 22:13] panzengott commented on #178
So after 4 long Days of downloading the new BS the Wallet rewards me.
error.log:

Neo.IO.Data.LevelDB.LevelDBException
Corruption: 24 missing files; e.g.: Chain/1239620.ldb
   bei Neo.IO.Data.LevelDB.NativeHelper.CheckError(IntPtr error)
   bei Neo.IO.Data.LevelDB.DB.Open(String name, Options options)
   bei Neo.Implementations.Blockchains.LevelDB.LevelDBBlockchain..ctor(String path)
   bei Neo.Pr

[2018-02-17 22:14] jrsikors commented on #178
If it lists the 24 files -- you could try unzipping specifically those files from the http://static.neo.org/client/chain.acc.zip

(if they exist in there)

[2018-02-17 22:16] panzengott commented on #178
I dwnld this at the moment...but its freaking slow. About 23h...it says.

[2018-02-17 22:19] jrsikors commented on #178
ah never mind -- the chain.acc.zip doesn't have individual files, just a chain.acc file.  to be honest I haven't even tested / played around with that method.  I finally got mine sync'd after a few days and haven't wanted to touch it and go through that again :blush:

[2018-02-17 22:22] jrsikors commented on #178
But bottom line is -- you cannot 'trick' NEO-GUI and other crypto wallets.  If it doesn't like your Chain or datadirectory -- there's nothing you can do.

I personally haven't seen anyone post that error before about missing files -- that's pretty odd.

I would think it might even an issue with your hard drive, and your hard drive is on the fritz and didn't download the blocks, or it downloaded th

[2018-02-17 22:24] panzengott commented on #178
The Wallet was working and i was able to transfer my RPX and 1 NEO to my new NEON Wallet. And then when it was fully synced it stopped working. And did´nt wont open anymore and produced this log.

[2018-02-19 18:29] Ron8111 opened #191 "Neo-gui, not visible NEP-5 balance"
Hello everyone, I had similar issue # 145 (I was unable to open my Neo-gui application with Nep-5 tokens, I follow steps # 145, however, my Nep-5 tokens balance and transaction related to the rooms are not visible, I see my full neo-gui neuro.book 2.3.5 is fully synchronized, What should I do?

Ps: I have windows 10 x64, there is visible NEO balance before Nep-5 tokens sale, according to neotracke

[2018-02-19 22:49] jrsikors commented on #191
what is your wallet address?

[2018-02-19 22:51] jrsikors commented on #191
And please clarify your issue -- I can't tell if you:
  A)  Can't open NEO-GUI
  B)  Your NEO from your address are gone

[2018-02-19 22:53] jrsikors commented on #191
And NEO 2.3.5 won't work anymore .. you need to download the latest:
https://github.com/neo-project/neo-gui/releases

http://docs.neo.org/en-us/node/gui.html
http://static.neo.org/client/chain.acc.zip

Check out this for other tips on re-syncing:
https://github.com/neo-project/neo-gui/issues/178

[2018-02-20 13:52] Ron8111 commented on #191
Ok, anyway how to convert db3 file to json, it will change automatically when I attach to open database button?

[2018-02-20 17:38] jrsikors commented on #191
make sure you backup your db3 file in multiple places before you do this, just in case.

Yes -- once you open NEO-GUI in 2.6 , and try to open the wallet file, it will auto-convert for you.

As long as you keep a backup of the db3 file, if something goes wrong (it shouldn't, very small chance), we can always figure out a way to recover your private keys from the db3 and then just import into NEO-G

[2018-02-20 21:10] Ron8111 commented on #191
Thanks for the help @jrsikors , I will make an update here.

[2018-02-21 03:36] the-louse opened #192 "Blocks are not updating"
Hello,

My block Height has been stuck at 1860095/1860095 for quite sometime. Is there anything I can do to get the blocks to start updating again? I am unsure what I can do to claim my Gas as the blocks are not updating.

Thank you

[2018-02-21 05:25] bokacw opened #193 "Neo-gui has stopped working, v2.6"
Hi,

I have downloaded new neo-gui 2.6 three days ago, extracted it into a new folder, started it as admin, left it syncing since then and now it's crashing. I can't stress enough how frustrating this is. Could someone please help me?
![neo-gui-26](https://user-images.githubusercontent.com/36687984/36464383-8ed08ece-169d-11e8-939b-0d4d4aa734b7.png)

[2018-02-21 10:50] maciogit opened #194 "Neo GUI does not open"
Some time ago I have downloaded NEO GUI. It even succesfully synchronized once but after that particular moment I did not open it. Few days ago I opened it therefore I have to resynchronize it from 12xxxxxxxx to 19xxxxxxxx. It went up to something like 18xxxxxxxx. After that I have some problems and it started crashing as in #193.

Currently I am not even able to open it. Nothing happens. I tried

[2018-02-21 15:32] pkruyt75 opened #195 "Didnt receive my 2 neo yet"
![screenshot 2018-02-21 at 16 34 07](https://user-images.githubusercontent.com/36704343/36488960-11acd834-1725-11e8-8d1a-5d523c1eb0e8.png)
Dear Peter,

Few hours ago ive send 2 neo to a neo wallet but didnt received it yet...guess its taking too long.
Receive adress was AR8injsmu2RHpBqx6wwXpt93Ly4SNABjQN.
Since i am a complete newbie ...help!
made some screenshots to help.
![screenshot 2018-02-21

[2018-02-21 18:10] jrsikors commented on #192
you need to upgrade to the latest NEO version
https://github.com/neo-project/neo-gui/releases

Only 2.6.0 will sync past that block

Check also #178 for sync help

[2018-02-21 18:11] jrsikors commented on #193
does it crash immediately or when you click on something (like open your wallet file)?

Can you click on Debug?  Can you post info if it shows any?

[2018-02-21 18:13] jrsikors commented on #194
Are you sure your are on the latest NEO?

https://github.com/neo-project/neo-gui/releases/tag/v2.6.0

[2018-02-21 18:14] jrsikors commented on #194
Also -- you might want to try to temporarily disable (like 5-10 minutes) anti virus to see if your Anti Virus is preventing it from running.

[2018-02-21 18:19] jrsikors commented on #195
Unfortunately this Github is for the NEO-GUI client ... you will need to take up your problems with the support people at neowallet.cn

However -- since you posted this -- I'm seeing NEO GAS claims on the address:
AR8injsmu2RHpBqx6wwXpt93Ly4SNABjQN

So I'm thinking you figured out your problem?

[2018-02-21 19:05] jrsikors commented on #195
the github for the neowallet.cn looks like it's at:
https://github.com/PeterLinX/neowallet.cn

also on neowallet.cn ,, if you go to "about" , there is contact info for their team.

[2018-02-21 19:23] pkruyt75 commented on #195
Yes thanks i figured out the problem!

Greetings

Patrick Kruyt

Sent by Mailwise – Your emails, with style.:)

-------- Oorspronkelijk bericht --------
Onderwerp: Re: [neo-project/neo-gui] Didnt receive my 2 neo yet (#195)
Van: Jeff S <notifications@github.com>
Aan: neo-project/neo-gui <neo-gui@noreply.github.com>
Cc: pkruyt75 <pkruyt75@gmail.com>,Author <author@noreply.github.com>

[2018-02-21 20:36] maciogit commented on #194
Thank you for your answer jrsikors. Really appreciate it.

It was some time ago I downloaded this wallet. As I can see in the properties it is of 2.06411.26926 ver. It was running smoothly thus I clearly do not consider update. Is there a possibility to download latest version you have presented without synchronization from afresh? If so, could you provide me with details? Should I copy chain data

[2018-02-21 20:44] jrsikors commented on #194
you HAVE to use the latest version 2.6 NEO-GUI , older NEOs will not work and sync anymore past a certain block

http://docs.neo.org/en-us/node/gui.html

follow instructions, and also use #178 for other helpful tips on resyncing.

[2018-02-21 21:35] maciogit commented on #194
Ok, thank you for info. I do not want to bother you but I would like to reassure I understood everything properly so as not to mess this up.
To cut a long story short I should download 2.6 NEO-GUI, then chain.acc.zip posted in #167 by erikzhang and copy it to NEO-gui main folder? Am I right? There are too many information from #178 #167 and instructions bombing me same time ;)

[2018-02-21 22:27] jrsikors commented on #194
No problem !

So yeah basically:
step 1) download 2.6 neo gui.zip
step 2)  Unzip neo-gui to wherever you want, like C:\NEO-GUI26  .. DONT RUN IT
Step 3) download the http://static.neo.org/client/chain.acc.zip
step 4)  dont unzip the chain.acc.zip , just copy it to wherever you put NEO2.6 from step 2
Step 5)  run neo-gui.exe
step 6)  Go to sleep and check in the morning :smile:

[2018-02-21 22:30] jrsikors commented on #194
Also -- make sure you have multiple backup copies of your db3 file... you will be asked to convert it to json

To help speed sync and avoid complications -- I would advise NOT opening your wallet until the Client is fully sync'd.

Keep an eye on your CPU / Memory usage ... if NEO-GUI starts eating up 100% of your CPU and/or RAM, I would just close NEO-GUI, wait 5 secs, and re-open it and let it co

[2018-02-21 23:00] jrsikors commented on #193
Also -- what Operating System are you on?  Win7? Win10?

**if it crashes IMMEDIATELY after you open it:**
Unfortunately the only decent fix is to rename your "Chain" folder ... it's probably corrupt.   Close down NEO-GUI and rename Chain folder to like Chain-Old.  Save it just in case it ends up not being a fix, you can rename it back to Chain later.

To help speed up the sync follow these steps (

[2018-02-22 03:53] #195 closed

[2018-02-22 13:25] bokacw commented on #193
Hi,

it was crashing immediately after I opened it. It's Win 10 and clicking on the Debug button didn't show anything.
I did what you suggested. It's working for now, but the second number has not yet reached the number when it started crashing, it's still on 17xxxxx.
I'll let you know when it, hopefully, syncs completely or starts crashing again.

Thanks!

[2018-02-23 18:23] maciogit commented on #194
Yeah, I had observed this GPU-strange behaviour before.

It looks like chain.acc doesnt like me. I can not download this file - transfer failed. May be the file corrupted or do I simply have bad luck? Is there any other link to download?

edit Apparently I still cant download this file. Quite weird taking into account fact there is no problem with downloading other files. I am afraid I will be obl

[2018-02-24 20:20] g4usat opened #197 "NEO GUI Synching issue"
Hello,
My NEO GUI wallet is been synching for more than 3 weeks and it's still going on. As of now the height is still 1677837/1677837/1959658. This is really frustrating and annoying. It's eating up my laptop processing heavily and am unable to do other tasks efficiently. I can't take this anymore and would like to transfer my NEO to NEON wallet. Can you pls help me in transferring my NEO coins f

[2018-02-24 20:33] jrsikors commented on #194
Yeah sorry man ..  I went through the 0/0/0 sync .. it's brutal but you'll get through.  Just check your task manager every few hours / whenever possible ... if it's at 100% CPU usage, I would suggest closing NEO down and re-opening.

[2018-02-24 20:35] jrsikors commented on #197
Get your private key from your NEO wallet (right click on the address) -> view private key.

Go download / install NEON, and import the private key.

Done !

[2018-02-24 20:45] g4usat commented on #197
Thanks Jeff for your quick reply. So, when I install NEON, don't I need to create a new wallet by which it'll generate new address and new private key for it? if I use my private key of NEOGUI, then everytime I login to NEON, I can open the wallet only by using the NEOGUI private key? it's bit confusing..I thought I need to create a new wallet in NEON and it'll generate it's own private key and I

[2018-02-24 20:52] jrsikors commented on #197
I haven't played around with it much but I just double checked ... so this is what I would do:

Step 1)  Generate a new wallet address with NEON
Step 2)  write down the public address , private key, etc... backup your new NEON wallet
step 3)  log out of your new NEON wallet
step 4)  do the "log in with private key" .. and log in with the private key of your NEO-GUI
step 5)  send all your funds thi

[2018-02-24 20:57] jrsikors commented on #197
There actually might be an easier way -- but I can't really help troubleshoot.  These are more "NEON" questions that NEO-GUI questions.

I would suggest reaching out to the NEON community.  It would involve steps I'm personally not comfortable in trying to explain (copying your .json wallet file from NEO-GUI over to the place where NEON looks for wallet files... but then you might need to edit the

[2018-02-24 21:19] g4usat commented on #197
Yeah, I can understand what you are saying. I think your previous post with 5 steps looks good to me. I'll try that..Thanks a lot!!

[2018-02-25 04:28] bokacw commented on #193
Hi,
it has finally synced. It's working ok now.
First time I downloaded the chain.acc.zip file and I extracted it to the Chain folder. I guess that was the mistake I made.

[2018-02-25 15:38] cosmic-springs opened #198 "Finding Neo"
Hi.
I have now lost 9 NEO and around 2000 DBC. They disappeared from my wallet and the NEO are showing in my transaction history (-9). However, no transaction was made by me?? I accessed neotracker.io the previous day.
It’s everything i had :( so disappointed. I realise that people have lost much more than me and I feel bad for them but it doesn’t make me feel better. it makes me so mad that peopl

[2018-02-25 16:01] cosmic-springs opened #199 "Finding Neo"
Hi.
I have now lost 9 NEO and around 2000 DBC. They disappeared from my wallet and the NEO are showing in my transaction history (-9). However, no transaction was made by me?? I accessed neotracker.io the previous day.
It’s everything i had :( so disappointed. I realise that people have lost much more than me and I feel bad for them but it doesn’t make me feel better. it makes me so mad that peopl

[2018-02-25 16:46] jrsikors commented on #199
See #188  .. sorry man :(

[2018-02-25 17:53] jrsikors commented on #197
You could to go now?  you can close the issue if you are... Erik probably will anyways :grinning:

[2018-02-25 17:54] jrsikors commented on #193
yeah it seems odd that you wouldn't unzip it, i made the mistake too !

If you are good to go now you can close the issue.

cheers !

[2018-02-25 17:54] jrsikors commented on #192
How's the progress on this going?

[2018-02-25 18:48] the-louse commented on #192
Great. Thanks for the help! Trying to get all set for the ONT drop. Appreciate it!

[2018-02-25 19:05] jrsikors commented on #192
No prob -- you can close this issue out if you are done and good please !

[2018-02-25 19:09] g4usat commented on #197
Yep, I'm done transferring...It can be closed. Thanks!

Best Regards,
Srinivas Takuri

On Sun, Feb 25, 2018 at 11:53 AM, Jeff S <notifications@github.com> wrote:

[2018-02-25 19:11] #192 closed

[2018-02-25 19:20] jrsikors commented on #197
You should have the ability to close the issue yourself :smile:

And good luck to you !

[2018-02-25 19:40] #197 closed

[2018-02-25 22:05] MaxShpax1 opened #200 "NEO gone after claiming GAS (NEOtracker)"
I have claimed GAS a month ago and back then I had 2 NEO, and GUI showed me completing everything correctly, but afterwards GAS was on 0 and so was NEO.
I have waited for a couple of days, but nothing happened. Tried contacting NEOtracker support on facebook, they weren't of any help as of now.
Today my GAS shows correct values, but my NEO shows 0 still.
In the transactions window it appears as if

[2018-02-25 22:31] jrsikors commented on #200
whats your wallet address and/or the transaction ID?

If your funds went to:
https://neotracker.io/address/AcQZuoHPUCRvdLogJLA3WtGoHBGaM1NzgP

Then you got phished unfortunately .. see #188

[2018-02-26 02:43] erikzhang commented on #199
Duplicate of #198

[2018-02-26 02:43] #199 closed

[2018-02-26 02:44] #193 closed

[2018-02-26 05:00] cosmic-springs commented on #199
So you close it? There are multiple victims of this theft going to the same address. I visited neotraker.io<http://neotraker.io> which was bookmarked and as far I can see endorsed by Neo. The phishing software was embedded into neotracker, it wasn’t a separate link. Neotracker are aware of this breach as far I can tell from snippets online. I followed correct security protocols the responsibility

[2018-02-26 16:57] RayMiner opened #201 "NEO GUI crashing!"
Hi!
I updated the wallet to the latest and greatest version, and have severe issues where I have been trying to figure this out since last week and have followed almost everything mentioned here on github.
![image](https://user-images.githubusercontent.com/2855499/36683387-5e61f468-1b15-11e8-92d0-6b52291a06ff.png)
I have downloaded the offline chain and have been trying to sync but then randomly t

[2018-02-26 18:09] jrsikors commented on #201
Couple things:
  1)  I would rename the Chain folder to Chain_Old
  2)  Make sure the chain.acc.zip  ... THE ZIP .. don't unzip it ... is in the folder where NEO-GUI is... zipped !
  3)  re-open NEO-GUI

[2018-02-26 18:13] jrsikors commented on #198
I don't think anyone disagrees that it's terrible what happened.  However, I do think there are better places to post this.

This github issues page is exclusively for issues with the NEO-GUI application.

They have a bunch of places where you can attempt to reach them at:
https://neo.org/
at the bottom of the page.

So don't get frustrated if your issues get closed.  It's simply because this isn'

[2018-02-27 11:04] RayMiner commented on #201
Thanks, what happens to my old folder? I will be again resyncing this whole thing?

[2018-02-27 19:05] jrsikors commented on #201
probably will re-sync -- but there's not much you can do about that.  NEO-GUI needs to sync on its' own terms.  any corruption of the blocks/db means that NEO-GUI doesn't like it.

Hopefully the devs improve the syncing process in the next release... it doesn't seem to be working for many people.  Or at least allow a bootstrap download.

[2018-02-28 05:59] ch0624 opened #202 "Unable to Create Custom Contract"
I was following instruction on http://docs.neo.org/zh-cn/sc/tutorial/Lock2.html

When I try to import custom contract,  this Unhandled Exception appears.

I am using windows 10 and have generated the contract file using visual studio 2017.

Could someone help?

[2018-02-28 14:16] cosmic-springs commented on #198
BTW where the hell is the right place?

On 27 Feb 2018, at 2:14 AM, Jeff S <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't think anyone disagrees that it's terrible what happened. However, I do think there are better places to post this.

This github issues page is exclusively for issues with the NEO-GUI application.

They have a bunch of places where you can attempt to

[2018-02-28 16:16] jrsikors commented on #198
At the bottom of the neo.org home page, there are 9 different ways to contact them.

![ss1](https://user-images.githubusercontent.com/31370541/36797706-3ac40bc2-1c6e-11e8-9c59-81eb44e64f35.png)

Keep in mind I'm not on the "NEO team" ... but I personally dont think you will have much success with the NEO team.  This is a problem with neotracker.io... completely different team of people.

As stated

[2018-02-28 16:19] jrsikors commented on #198
This is like trying to talk to McDonalds because Burger King didn't give you your fries... you gotta go talk to Burger King.

[2018-02-28 16:32] cosmic-springs commented on #198
Neo.org<http://Neo.org> site is not working??

Sent from my iPhone

On 1 Mar 2018, at 12:27 AM, Jeff S <notifications@github.com<mailto:notifications@github.com>> wrote:

At the bottom of the neo.org<http://neo.org> home page, there are 9 different ways to contact them.

[ss1]<https://user-images.githubusercontent.com/31370541/36797706-3ac40bc2-1c6e-11e8-9c59-81eb44e64f35.png>

Keep in mind I'm no

[2018-02-28 17:33] jrsikors commented on #202
what unhandled exception?  Can you post details?

[2018-02-28 19:09] jrsikors commented on #200
any updates to my questions?  what is your wallet address and/or the transaction ID?

[2018-02-28 19:12] jrsikors commented on #194
hows the progress?

[2018-03-01 23:11] blockchain1977 opened #203 "Failed to deploy a smart contract to NEO testnet blockchain"
Hello,

After I created a smart contract and compiled it into avm file, I failed to deploy it using NEO-GUI. I didn't find a documentation about how to deploy a smart contract to blockchain using NEO-GUI. Could anyone help with it please? Thanks!

Following are what I did:

I used NEO-GUI and got testnet blocks synced. I have applied enough test NEO and NEO GAS.
I created a smart contract with bel

[2018-03-02 01:06] ch0624 commented on #202
Hi jrsikors, thanks for the help. Please see the screenshot below.

This window pops up when I tried to create new contract.

![error window](https://user-images.githubusercontent.com/34905285/36824499-af0cde48-1cd0-11e8-889f-f3e09f0bffb3.JPG)

[2018-03-02 18:43] jrsikors commented on #203
steps here not helpful?

http://docs.neo.org/en-us/sc/tutorial/Lock2.html

[2018-03-02 18:45] jrsikors commented on #202
unfortunately I don't have a lot of knowledge with smartcontracts.  The key part of the error message is in the first couple lines:

"Value doesn't fall within the expected range"
"Neo.Wallets.Keypair..ctor(Byte[] privateKey"

So -- if I had to guess .. it doesn't seem to like something that has to do with the steps...
byte[] b = HexToBytes("0285eab65f4a0126e4b85b4e5d8b7e303aff7efb360d595f2e3189bb

[2018-03-02 18:47] jrsikors commented on #202
In this step in the code .. are you putting in the Public Address like this?
byte[] b = HexToBytes("0285eab65f4a0126e4b85b4e5d8b7e303aff7efb360d595f2e3189bb90487ad5aa");

Are your values in test.avm good?

[2018-03-02 18:56] jrsikors commented on #194
beep beep :smile:

[2018-03-02 18:56] jrsikors commented on #191
hows the progress?

[2018-03-02 18:56] jrsikors commented on #201
any updates?

[2018-03-02 18:57] jrsikors commented on #200
beep beep, anything?

[2018-03-02 20:25] blockchain1977 commented on #203
@jrsikors This is the way of deploying a local contract rather than deploying an application contract to blockchain.
I did found a link of doc of deploying contract to blockchain following your link:
http://docs.neo.org/en-us/sc/tutorial/deploy-invoke.html
While, I think I used the same steps as documented, but met the problem I mentioned in this issue.
Thanks!

[2018-03-03 10:16] RayMiner commented on #201
Hi!
So yes had to redo from scratch, re-install the NEO gui , downloaded the offline chain and had lot of patience :) can see all my NEO and it's all good.
Thank you for your assistance.

[2018-03-03 10:16] #201 closed

[2018-03-04 18:58] jrsikors commented on #203
Sorry I'm out of my element for deploying contracts.  Took a shot in the dark for ya.  Hopefully someone else who has knowledge of that topic swoops in.  Good luck & sorry !

[2018-03-04 19:04] jrsikors commented on #185
https://neo.org/download

"Need to install .NetFramework 4.7.1"
->
https://www.microsoft.com/net/download/dotnet-framework-runtime

[2018-03-04 20:52] blockchain1977 commented on #203
@jrsikors Thank you anyway! :-)

[2018-03-05 22:14] WyattMufson commented on #178
Same issue with the missing files. Seems like the neo-gui is super buggy. It's happened to me numerous times and deleting the Chain folder (which isn't a solution in of itself, it's a bad work around at most) didn't help. It shouldn't take me more than a few hours to get the wallet to work, let alone 5 days.

[2018-03-05 22:17] WyattMufson opened #204 "Corruption: 36 missing files"
I am trying to sync with the blockchain but keep getting a corruption error. I've tried deleting the blockchain and resyncing and it keeps happening. I only had about 20k blocks left to go when it crashed. I can't even open neo-gui. The error.log keeps updating with the LevelDBException.

Why is there no easy way to set up the wallet? I downloaded the chain.acc.zip which doesn't seem to be updated

[2018-03-06 06:51] ceteris opened #205 "adding chain.acc.zip to neo-gui folder breaks app -- KeyNotFoundException"
it works if I remove chain.acc.zip, breaks if I add it back -- tried deleting the chain folder and also the peers.dat file and also just starting with a clean download

I get this error:

System.Collections.Generic.KeyNotFoundException
The given key was not present in the dictionary.
   at Neo.IO.Caching.DataCache`2.GetAndChange(TKey key, Func`1 factory)
   at Neo.Implementations.Blockchains.Level

[2018-03-07 11:44] scombo opened #206 "Upgrade to 2.6 cant load new format"
Hi All
Upgraded to 2.6 - wallet is fully synced. When opening the wallet I am prompted to update the wallet file to the newer version. If I accept the upgrade I get the following message

Unhandled exception has occurred and gives me the option to Get details or Continue or quit .

Any suggestions would be much appreciated

[2018-03-07 11:57] erikzhang commented on #206
Duplicate of #118

[2018-03-07 16:45] jrsikors commented on #206
The resolution in #118 is:
To solve this, please install vs2010 redist x86 and x64:
https://www.microsoft.com/de-de/download/details.aspx?id=14632
https://www.microsoft.com/de-de/download/details.aspx?id=5555

[2018-03-07 16:48] jrsikors commented on #205
@ceteris  -- where did you download the chain.acc.zip from .. and when did you download it?  Can you unzip it (you shouldn't unzip it, but i'm curious if you CAN.. would eliminate a possible corrupt zip file).

What's the date/timestamp on the chain.acc file within the zip?

@erikzhang  -- few things:
  1) does the chain.acc.zip file get re-uploaded nightly or a few times a week?
  2) might be wor

[2018-03-07 16:53] jrsikors commented on #204
Yeah it's pretty rough right now -- hopefully the NEO Devs have noticed all the problems/complaints here over the past month are working up something for the next release.

The 2.6 release really made the situation weird.  You used to be able to just download a bootstrap and unzip the files... now they went to this chain.acc.zip which is wonky.

And it doesn't help that 2.6 FORCED everyone to star

[2018-03-07 21:01] xstrm1 commented on #204
I'm having the same problem. I had to wait 2 days for a full sync with Neo GUI 2.6.0. Once it completed, I sent one transaction and closed the app. I haven't been able to open any more

Error.log

### Neo.IO.Data.LevelDB.LevelDBException
Corruption: 21 missing files; e.g.: Chain/933358.ldb
   at Neo.IO.Data.LevelDB.NativeHelper.CheckError(IntPtr error)
   at Neo.IO.Data.LevelDB.DB.Open(String name

[2018-03-08 02:02] erikzhang commented on #205
Monthly.

[2018-03-08 04:02] ceteris commented on #205
yes can unzip the blockchain archive, so file not corrupted

creation date shows as two days ago, but that’s just when I downloaded it

I’m also copying the whole release folder when I try different things to make sure it’s a clean restart

but — deleting the chain folder and peers.dat is also considered a clean restart?

thanks for your help

On Mar 7, 2018, at 6:02 PM, Erik Zhang <notifications@

[2018-03-08 07:51] Johnydog opened #207 "asking for basic help"
Hi guys, hoping you can save a desperate soul here. i'm running a Neo Gui wallet which hasnt been updated since August. Never done an update! Now trying to figure out why i cant see my ONT tokens and the answer seems to be that i need to update to the latest version. This freaks me out!

 " It is recommended to back up the older chain data in advance and to export offline synchronization data chai

[2018-03-09 00:07] jrsikors commented on #207
just load up your current version of NEO , right click your wallet, view private key.
Copy/paste/write down all the information ... then your NEO is 100% safe and worst case scenario you can load up your wallet/private key on a different wallet.

The instructions are pretty simple and clear here:
http://docs.neo.org/en-us/node/gui.html

[2018-03-09 05:18] Johnydog commented on #207
Thank you so much for the response! Appreciate its a basic question, and even having you responding makes me feel like im not in this alone!

I've downloaded the new client and pasted the chain.acc.zip in the directory. Its been syncing for a bit now. The first number is 0, second is still syncing and third stopped reaching 2000190. Can I try and load my wallet now or wait for the second number ca

[2018-03-09 15:27] jrsikors commented on #207
You should wait until the 2nd and 3rd numbers are matched.. but there's no real harm in opening it.  It's just that when you open it, you will be stuck with an open wallet for hours and hours while you remain syncing

If at any point you think it's stuck, just close out of NEO-GUI, and re-open it.

[2018-03-10 00:52] scombo commented on #206
Many thanks - made the changes and wallet updated  until yesterday when it stopped at block 2000190 and has not moved since then

[2018-03-10 00:53] scombo commented on #206
Many thanks - made the changes and wallet updated until yesterday when it stopped at block 2000190 and has not moved since then

[2018-03-10 15:29] jrsikors commented on #206
Close out and re-open (if you haven't already).  You should have 3 numbers..
first number = your wallet sync level
second number = your computer sync level
third number = the latest block in chain

Ideally you want to NOT open your wallet until the 2nd and 3rd numbers are sync'd up.. THEN open your wallet and the first number will go up fast

[2018-03-10 15:31] jrsikors commented on #205
Sorry -- yeah deleting the chain folder is considered a clean re-start.  I wouldn't worry about the peers.dat, but it couldn't do any damage to wipe that away as well.

[2018-03-10 22:08] KyferEz opened #208 "Windows client unhandled exception error - Win 10"
We get this error trying to create a new wallet with Windows NEO-gui version 2.6.6596.21976 which was the Windows gui client downloaded from here: https://github.com/neo-project/neo-gui/releases

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.Reflection.TargetInvocationException: Exce

[2018-03-10 22:13] KyferEz opened #209 "Windows 10 x64 CLI client error"
When trying to run the CLI version of NEO on Windows 10, we receive this error:

C:\Programs\neo-cli-win10-x64>neo-cli

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'libleveldb': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
   at Neo.IO.Data.LevelDB.Native.leveldb_options_create()
   at Neo.Implementations.Blockchains.LevelDB.LevelDBBlockcha

[2018-03-11 03:29] jrsikors commented on #208
see #206  and #118

To solve this, please install vs2010 redist x86 and x64:
https://www.microsoft.com/de-de/download/details.aspx?id=14632
https://www.microsoft.com/de-de/download/details.aspx?id=5555

[2018-03-11 03:30] jrsikors commented on #209
probably steps in #208 should fix this as well.  Apply the fix for #208 and let us know if this is still a problem with the same error

[2018-03-11 04:35] scombo commented on #206
Thanks jsikors. - I have tried restarting the wallet but the issue seems to be that no blocks are being processed. The 2nd and 3rd numbers have stayed at block 2000190 for a couple of days now despite  the wallet showing 10 connections

[2018-03-11 05:16] erikzhang commented on #208
Duplicate of #118

[2018-03-11 15:34] KyferEz commented on #209
Jrsikors,

No, the installation of the VC++ Redist did not help for this error and it has remained the same.

Thanks!

[2018-03-11 16:37] jrsikors commented on #209
I saw this reference to a super old issue:
https://github.com/neo-project/neo-cli/issues/24

But perhaps you might be better off posting it under the:
https://github.com/neo-project/neo-cli/issues/
page (This is the neo-gui page)

[2018-03-11 16:43] jrsikors commented on #206
I don't call myself an expert on this matter -- but if I were in your shoes, I would try these things in this order (though I can't decide if I would do 1 or 2 first, either would be fine, i don't think 1 is going to do anything anyways but it's worth a shot)

1st:
close NEO-GUI, delete peers.dat, re-start NEO-GUI, leave it running for an hour and see if there's any change

2nd:
open neo-gui, try

[2018-03-11 16:44] jrsikors commented on #209
and you mentioned it did NOT fix this #209, but did it at least fix your #208  ?

[2018-03-11 16:54] KyferEz commented on #209
Yes, it did fix 208, and oops didn't realize I made that mistake.

[2018-03-11 16:57] jrsikors commented on #209
No prob -- I'm such a noob at this i didn't even realize there was a separate CLI forum... I just loiter on this one.. I haven't played around with the CLI.

If you can -- please close #208 and #209 for @erikzhang  !

[2018-03-12 17:13] viraladmin opened #211 "can't claim gas"
Trying to claim my GAS. I have gas. Can't claim it. When I try sending neo to myself to be able to claim, the transaction indefinitely sits doing  nothing. When I restart the wallet, the transaction no longer appears.

Currently I tried again around an hour ago. txid 0xfcfcb0e6e1ff69b39a3bf9eb76d1e42f4f3c615c69e62dddf4a986339c30a005 just sits unconfirmed.

NEO tracker claims page not found when lo

[2018-03-12 18:53] jrsikors commented on #211
You are not on the latest version... and you HAVE to be or you will experience weird problems (because you aren't really syncd)

https://github.com/neo-project/neo-gui/releases

https://github.com/neo-project/neo-gui/releases/latest

https://neo.org/download

Be sure to read through:
http://docs.neo.org/en-us/node/gui.html

to help speed up the sync process for your new 2.6 client.  You will basic

[2018-03-12 18:55] jrsikors commented on #206
it's actually interesting that you stated block 2000190... a guy just posted #211  ... different issue, but he was also getting stuck on EXACTLY block 2000190 ... but he said he was on version 2.5.. which is an older version of NEO-GUI.

So perhaps you aren't really running version 2.6... you should triple check that.

[2018-03-12 22:09] scombo commented on #206
Thanks for the update - but as far as I can tell I am on the latest version 2.6.6596.21976(Neo gui Help window). Have tried step 1 and busy with 2 although wallet (1st) number is updating the 2nd and 3rd are still on block 2000190

[2018-03-12 22:51] jrsikors commented on #206
I would stop trying to open your wallet file while you are trying to figure this out.  Your issues are with the 2nd and 3rd numbers and loading your wallet file just adds another unnecessary variable.

Don't worry about opening your wallet file until your 2nd and 3rd numbers are good to go.

[2018-03-12 22:51] jrsikors commented on #206
saw this as well:
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/

I would try that before you try my 3rd idea

[2018-03-12 22:53] jrsikors commented on #211
and check this out too:
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/

[2018-03-12 22:54] jrsikors commented on #205
check this out as well:
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/

[2018-03-12 22:54] jrsikors commented on #204
try this out:
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/

[2018-03-12 22:55] jrsikors commented on #194
@erikzhang  would close this

[2018-03-12 22:56] ceteris commented on #205
thanks

On Mar 12, 2018, at 3:54 PM, Jeff S <notifications@github.com> wrote:

check this out as well:
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/ <https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/>
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/neo-project/ne

[2018-03-12 23:20] WyattMufson commented on #204
Yeah it looks like CoZ updated the Chain they have on their Github (https://github.com/CityOfZion/awesome-neo). Looks like the solution is oddly to remove everything and try again.

[2018-03-12 23:23] jrsikors commented on #204
well it looks like there is a link to where you can download an "almost complete" blockchain bootstrap, where you can actually unzip the files into the chain folder (delete everything first yeah).

I don't know what's going on with the chain.acc.zip , some people have success , some don't.

I personally would rather just see a bootstrap that i can download and unzip all the blocks into the Chain f

[2018-03-12 23:35] viraladmin commented on #211
ty for the help got it all sorted :)

[2018-03-13 02:43] jrsikors commented on #208
@erikzhang this was resolved, per his comment in #209  .  You can close

[2018-03-13 02:59] jrsikors commented on #211
no prob .. @viraladmin or @erikzhang  please close issue!

[2018-03-13 03:03] Jdog88 opened #212 "Block stuck at 2,000,190 won't sync"
Anyone else have this problem? Block stuck at 2,000,190 and won't add any more blocks to it. Everything just stuck there for days.

[2018-03-13 03:36] #194 closed

[2018-03-13 04:12] #208 closed

[2018-03-13 04:12] #211 closed

[2018-03-13 08:30] Johnydog commented on #212
same issue here

[2018-03-13 12:19] Johnydog commented on #212
Jdog88, i've resolved my issue by starting again...

Deleted Neo Gui folder
Downloaded NEO Gui again
Downloaded "Offline Synchronized Data"
Extracted downloaded NEO-Gui into a folder in C:\ drive
Opened the extracted NEO-Gui folder, then, extracted the downloaded "Offline Synchronized Data" into the NEO-Gui folder (root directory)
The "chain.acc" file will be in the NEO-Gui folder
Ran "NEO-Gui.exe

[2018-03-13 14:15] jrsikors commented on #212
solution here (I haven't tested it, but looks legit)
https://www.reddit.com/r/NEO/comments/83j7dl/is_your_neo_node_stuck_at_2000190/

[2018-03-13 14:23] PeterLinX commented on #212
@Johnydog @Jdog88 @jrsikors Some of nodes have this problem recently, just resync your blockchain will be fine. You can use this offline blockchain data package(http://static.neo.org/client/chain.acc.zip) to make it faster.

[2018-03-14 02:50] scombo commented on #206
Hi jsikors - many thanks for the advice so far however I have now downloaded and unzipped chain from the link above which all seemed to work, however now the wallet won't even start. If I click on the neo-gui icon it "thinks" for a while and then just stops. Nothing further happens have tried running as admin as well with the same result

[2018-03-14 03:19] jrsikors commented on #206
Check and temporarily disable antivirus... but my guess is the NEO-GUI doesn’t like what it sees in the chain folder.  You can try renaming it to chain-old and see if that’s the culprit

[2018-03-14 03:47] scombo commented on #206
Yup wallet started immediately!

[2018-03-14 03:49] scombo commented on #206
Would you suggest downloading zip again from somewhere else?

[2018-03-14 04:03] scombo commented on #206
Removed chain directory and unzipped from Chain09Mar.zip again with same result. Now trying to download chain zip file again

[2018-03-14 04:22] jrsikors commented on #206
If you are doing that zip.. maybe try getting rid of the chain.acc.zip .. I wouldn’t do both

Sorry.  Such a pain!

[2018-03-14 10:31] miaodd98 opened #213 "Can not get my NEO on private chain"
中文：你好，我按照官方教程搭建私链，私链搭建完毕后无法按照教程上的方法提取私链中的NEO，会弹出不支持制定方法的提示。尝试按照Issue #118的方法解决但是仍然无法提取，请问有什么解决方案？异常信息在下方。NEO-GUI客户端版本为2.6.0
English: Hello, I have set up my private chain following the official instruction, but I can not get NEO on my private chain following the instruction. I have found Issue #118 and try its suolution but still can't get NEO. Could you please tell me how to solve this issue? Tha

[2018-03-14 11:36] miaodd98 commented on #213
补充：我创建的钱包为.db3格式，请问这是否与此问题有关，需要将钱包格式改为.json吗？
Addition: The wallet format is .db3, is this related to this problem? Should I create .json format wallet?

[2018-03-14 13:34] miaodd98 commented on #213
已解决：创建钱包需要使用NEP6的json格式，db3格式在NEO-GUI2.6.0版本中已经无法使用。希望官方更新一下NEO私链的搭建教程。
Solved: The wallet format must be json format of NEP-6, db3 format is invalid in NEO-GUI version 2.6.0. Hope the official can update the instruction of setting up private chain.

[2018-03-14 13:34] #213 closed

[2018-03-14 19:17] jrsikors commented on #191
@Ron8111 any updates?

@erikzhang you can probably close this.

[2018-03-14 19:18] jrsikors commented on #200
@erikzhang you can probably close this -- no response from original poster

[2018-03-14 19:19] jrsikors commented on #204
So are you good to go now ?  Or still fighting it?

[2018-03-14 19:20] jrsikors commented on #205
So are you good to go now?  Or still fighting it?

[2018-03-14 19:33] xstrm1 commented on #204
Thanks, I'll give it a try

Dne st 14. 3. 2018 20:32 uživatel Martin Strnad <xstrm1@gmail.com> napsal:

[2018-03-14 19:33] xstrm1 commented on #204
Thanks, I'll give it a try

Dne st 14. 3. 2018 20:20 uživatel Jeff S <notifications@github.com> napsal:

[2018-03-14 19:33] jrsikors commented on #206
I haven't tried the CoZ chain yet personally.  I did it the hard way and just spent a few days syncing from 0/0/0 with no chain.acc.zip or CoZ bootstrap.  If you do it this way -- I would suggest closing down NEO-GUI every 8-12 hours if possible.  NEO-GUI starts eating a lot of CPU resources while syncing.

Basically the only place to check for a new / different one is:
https://github.com/CityOfZi

[2018-03-14 19:36] jrsikors commented on #207
How's it going with this one?  You look at #212  ?

Are you jdog88 who posted #212? :smile:

[2018-03-14 20:07] ceteris commented on #205
no, I gave up —  just using the docker image

one thing I am unclear on is wether I have to build leveldb from source or download the dll — I’ve done both, don’t think it made a difference but I might have lost my way on that

On Mar 14, 2018, at 12:20 PM, Jeff S <notifications@github.com> wrote:

So are you good to go now? Or still fighting it?

—
You are receiving this because you were mentioned

[2018-03-14 21:11] Johnydog commented on #207
Thanks for checking up on me, I'm still going, currently on my second attempt to sync the chain.  Up to 174XXXX on the second and the third is syncing to current high this time... My first attempt the third number was stuck on that number in issue #212 so just restarted... On the positive im more confident with it, but wallet conversion still tbc, hope it goes ok.

Not the same person as #212, yea

[2018-03-14 23:48] GotWoods opened #214 "Ability To Attach Assets To Contract Invoke"
Not being able to attach assets to a contract invocation makes it hard to use for more complicated invokes and to test verification triggers.

[2018-03-14 23:51] #191 closed

[2018-03-14 23:52] #200 closed

[2018-03-15 00:00] erikzhang commented on #214
You can use F12 to open developer tools.

[2018-03-15 01:27] scombo commented on #206
Hi js - followed the above steps and it crashed immediately again - got this message in the errorlog though

Neo.IO.Data.LevelDB.LevelDBException
Corruption: corrupted compressed block contents
   at Neo.IO.Data.LevelDB.NativeHelper.CheckError(IntPtr error)
   at Neo.IO.Data.LevelDB.Iterator.CheckError()
   at Neo.IO.Data.LevelDB.Iterator.Key()
   at Neo.Implementations.Blockchains.LevelDB.LevelDB

[2018-03-15 19:47] jrsikors commented on #212
@PeterLinX  ... it seems like some people are having the problem even with the chain.acc.zip ... unless there is a newer chain.acc.zip that gets you past the 2000190 block.

It actually looks like CoZ removed the non chain.acc.zip bootstrap ... judging on some of these  comments ... i wonder if it wasn't fixing it and causing more problems.

[2018-03-15 19:48] jrsikors commented on #206
It actually looks like CoZ removed the https://s3.eu-west-2.amazonaws.com/ashant-neo/Chain09Mar.zip bootstrap ... judging on some of these  comments ... i wonder if it wasn't fixing problems and causing more problems.

Might explain why it wasn't working for you.

That being said -- I think your only hope is to go the chain.acc.zip route, AKA the "official" way.

[2018-03-16 01:13] Jdog88 commented on #212
@PeterLinX @jrsikors I used Peter's Link above and resync the blocks and it reached over 2000190.

[2018-03-16 05:09] vidov1 commented on #212
WTF ? How can this happen ? What's the point of having a block chain, if you have to download its contents from one single centralized location in order to be able to work with it ?

[2018-03-16 13:46] jrsikors commented on #212
I can't tell if your comment is meant to be funny @vidov1  :smile:

You can always start from 0/0/0 and download the blockchain the way it was originally intended to be done... which is downloading blocks 1 at a time.

[2018-03-16 14:35] jrsikors commented on #212
@Johnydog @PeterLinX .. so i noticed in Johnnydogs, instructions you actually UNZIP the chain.acc.zip .. that wouldn't be what the instructions at http://docs.neo.org/en-us/node/gui.html say to do.

Are the instructions on the site wrong?  Do you actually need to unzip the chain.acc.zip ?

[2018-03-16 14:36] jrsikors commented on #212
@erikzhang  as well .. see my previous post

[2018-03-16 16:03] erikzhang commented on #212
No, we needn't unzip it.

[2018-03-16 16:14] jrsikors commented on #212
Thanks @erikzhang  -- you can close this one -- @Jdog88  , who originally posted the issue, said he was good to go.

Anyone else still having similar or different problems should create a new issue.

[2018-03-16 16:15] jrsikors commented on #209
@erikzhang you can close this one too , he stated he will post issue on the CLI forum

[2018-03-16 16:16] jrsikors commented on #207
So are you good to go?  I saw in #212 you seemed like you were ok enough to close this issue?

You can close the issue yourself if you are good... there should be an option somewhere since you created it.

[2018-03-16 16:57] #212 closed

[2018-03-16 17:03] jrsikors commented on #205
So are we good to close this issue?  I'm sure it's been brought to the attention of the NEO devs.

That reddit link i posted ,,, it looks like CoZ took down the bootstrap download, and refers people back to the chain.acc.zip again... so it was probably not solving any problems.

[2018-03-16 17:11] ceteris commented on #205
sure — I’m done — thanks

On Mar 16, 2018, at 10:03 AM, Jeff S <notifications@github.com> wrote:

So are we good to close this issue? I'm sure it's been brought to the attention of the NEO devs.

That reddit link i posted ,,, it looks like CoZ took down the bootstrap download, and refers people back to the chain.acc.zip again... so it was probably not solving any problems.

—
You are receiving thi

[2018-03-16 17:16] jrsikors commented on #205
@erikzhang you can close this issue up please!

[2018-03-16 22:35] Johnydog commented on #207
@jrsikors not yet... im still downloading the chain can you believe?! I'm now up to 1954XXX.

Would appreciate if we keep this one open in case something goes wrong?

[2018-03-16 22:54] jrsikors commented on #207
yeah that's fine -- check your Windows Task Manager every chance you get -- if it's running at 100% ... try closing down NEO-GUI and re-opening it.  After running for a few hours and syncing it starts sucking up a lot of CPU.. making it sync even slower.

[2018-03-17 00:22] Johnydog commented on #207
oh man @jrsikors just when i thought were on track, noticed third number is tuck on 2,022,689, current height is 2,030,900... What do you reckon? really don't want to restart sync agian

[2018-03-17 00:48] jrsikors commented on #207
In 212 you posted this:

-----------------------------------
_Deleted Neo Gui folder
Downloaded NEO Gui again
Downloaded "Offline Synchronized Data"
Extracted downloaded NEO-Gui into a folder in C:\ drive
**Opened the extracted NEO-Gui folder, then, extracted the downloaded "Offline Synchronized Data" into the NEO-Gui folder (root directory)
The "chain.acc" file will be in the NEO-Gui folder**
Ran

[2018-03-17 07:58] #209 closed

[2018-03-17 08:03] #205 closed

[2018-03-17 11:52] Johnydog commented on #207
Hasn't been a week. maybe 5 days. but gutted. cant believe i have to restart.

[2018-03-17 17:32] jrsikors commented on #207
I'm downloading the chain.acc.zip right now.

After that -- I'm going to:
Step 1) Rename my working chain folder to chain-old
Step 2) Copy the chain.acc.zip to my neo-gui folder  (AND DONT UNZIP IT)
Step 3) Run neo-gui.exe

So I can see if it's functioning as designed.  It really shouldn't be this painful for people.. there must be a step you are all missing .. like you are:
  A)  unzipping the ch

[2018-03-17 21:03] jrsikors commented on #207
So I just did this
step 1)  Downloaded the latest https://github.com/neo-project/neo-gui/releases/latest
step 2)  Downloaded the chain.acc.zip from http://static.neo.org/client/chain.acc.zip
Step 3)  Unzipped it to c:\NEO26  (or wherever)
Step 4)  *COPIED* *DIDNT UNZIP* the chain.acc.zip to C:\neo26
Step 5)  Launched neo-gui from c:\neo26

Within 10 minutes of opening ... my 2nd and 3rd numbers ar

[2018-03-17 22:01] jrsikors commented on #207
update:
after about an hour, it looks like it stopped 'speed syncing' at around 0 / 1.8 million / 1.8 million  ... and the remaining 1.2 million'ish blocks will need to sync normally .. which will probably be a while.

[2018-03-18 07:35] chrisbednarski opened #215 "neo-gui 2.6 stuck on block 2022689"
I've downloaded the neo-gui 2.6.0 (2.6.6596.21976)

I've left it on to download the blockchain, and it has been stuck on block 0/2022689/2022689  for two days now. I did not use the chain.acc file to speed the sych. Dowloaded all the blocks from the start.

Restarted the app about a dozen times now, Number of connected nodes changes between 0 to 10 depending on the time of the day.

If I open a wa

[2018-03-18 07:51] chrisbednarski commented on #215
not sure if this is related, but I found the below in `error.log` file

[code]

[2018-03-18 07:57] chrisbednarski commented on #215
![2022689](https://user-images.githubusercontent.com/1804713/37563868-2d147358-2ade-11e8-8b16-197383a68d6b.png)

[2018-03-18 10:44] Johnydog commented on #207
@jrsikors you are an absolute legend, thank you for taking the time to help me. I really do appreciate it.
I have followed the steps you've outlined above. The third number has correctly synced to the latest block (2,036,663 at the moment). The second number is still going, its pretty low at 234,680 (as i type) so will let it run overnight.

I know now i was making stupid errors, probably issues w

[2018-03-18 15:36] jrsikors commented on #215
I think there are some nodes that aren't behaving properly... lots of people getting stuck on different block numbers.   Per #207 you can see my steps I've been taking , i'm testing around as well, though I'm not part of the NEO team.  I'm sure the team is aware of all the issues and hopefully working to resolve.

I might be stuck on block 2,037,647 myself during my test run.  I think instead of m

[2018-03-18 15:40] jrsikors commented on #215
so closing down neo, then deleting the peers.dat and opening neo-gui did make my stuck number start going up again ... though I'm pretty sure it will get stuck again.

Not a great workaround -- but better than nothing and/or deleting chain to start over

[2018-03-18 16:09] jrsikors commented on #207
Between this trifecta of issues:
 issue 1) the CPU on your computer getting pegged at 100% after a couple hours
 issue 2) random nodes being wonky and making you get stuck on a particular block
 issue 3) the chain.acc.zip only getting you to the 2 million block

the syncing of NEO-GUI 2.6 is pretty rough right now for the average person.

the only workaround when you are stuck seems to be:
 Step 1

[2018-03-18 16:11] jrsikors commented on #207
@erikzhang can you please try to get the team to upload a newer chain.acc.zip that syncs to the latest block this week if time permits :smile:   ... something a lot closer to the 3 million block.

[2018-03-18 16:49] jrsikors commented on #207
oops i'm dumb, NEO is at the ~2 million block, not ~3 million .. wrong crypto sorry :smile:

[2018-03-18 16:56] jrsikors commented on #207
but @Johnydog  -- if your 2nd number isn't climbing FAST , then you didn't do the chain.acc.zip step properly... and i would suggest trying again.

If you do the chain.acc.zip step properly... your 2nd and 3rd numbers should ZOOM to the 1.8 million block.  Like you should be at:
**_0 / 1.8 mil / 1.8 mil_**
within an hour

If you aren't -- and your 2nd number looks like it's going to take you month

[2018-03-18 17:21] jrsikors commented on #215
Also one other thing I thought about -- don't open your wallet file until you get your 2nd and 3rd numbers straightened out.  Opening your wallet just adds another unnecessary variable into the equation while you try to get the 2nd and 3rd numbers sync'd up.

[2018-03-18 17:23] jrsikors commented on #206
Other thoughts ...
If you are stuck on a block, try closing down NEO-GUI ... delete peers.dat ... re-open neo-gui

[2018-03-18 17:27] jrsikors commented on #204
I finally got around to testing this out and here's what I did:
Step 1)  Deleted chain folder
Step 2)  Deleted peers.dat
Step 3)  Deleted chain.acc.zip and/or chain.acc (if you incorrectly unzipped it)
Step 4)  downloaded http://static.neo.org/client/chain.acc.zip
step 5)  copy ( **_DO NOT UNZIP_** ) chain.acc.zip to same folder as neo-gui.exe
step 6)  run neo-gui.exe

after about an hour both my

[2018-03-18 17:29] jrsikors commented on #185
Still having issues?  Someone who speaks Chinese might need to take this please :smile:

[2018-03-18 21:30] Johnydog commented on #207
Well, after a full night my second number was still lagging.

I've just deleted peers.dat file and the Chain folder (which was in the unzipped NEO folder). That took my chain back to 0/0/0 so i guess were starting again...

I definitely definitely followed steps 1 to 5 above for sure! heading to work now, see what i come home to.

[2018-03-18 21:32] jrsikors commented on #207
You should know immediately, within 2 minutes , whether you set everything up properly.  Your 2nd and 3rd numbers should start flying

[2018-03-19 07:22] Johnydog commented on #207
so got back from work, third number synced fine, second number is sun 200,000.

What do you reckon?

[2018-03-19 09:54] Johnydog commented on #207
OK latest status is that i had a beer deleted everything and started again!
Current sync is 0/1,383,115/2,045,543  Connected:1

Surely i just wait for the second number to sync now?

[2018-03-19 10:47] chrisbednarski commented on #215
I've downloaded `chain.acc` from https://github.com/neo-project/neo/issues/193 to bootstrap the download process. The file contains blocks up to 2022949. Trying that way

[2018-03-19 18:40] jrsikors commented on #207
That's the plan.

Latest block is now:
2,041,863

So it is kind of weird that your 3rd number was higher :smile: , but maybe you typo'd it .. but not a problem

[2018-03-19 23:09] scombo commented on #206
Hi Js

Firstly,  thanks for sticking with this - I have been trying to do a full resync for the past few days - just waiting for it to update which is extremely slow - has been running for days now. Have to say its been my worst experience with any wallet so far. Will keep you updated if I ever get there

[2018-03-20 00:27] Johnydog commented on #207
yep that was a typo! I'm going to work from home today and babysit this thing.

Current status is;
![picture1](https://user-images.githubusercontent.com/37173005/37629187-848726ea-2c31-11e8-9645-7dc463821b2d.png)

[2018-03-20 00:27] Johnydog commented on #207
![picture1](https://user-images.githubusercontent.com/37173005/37629224-b55a36a4-2c31-11e8-8225-eeeb8435cb93.png)

[2018-03-20 00:27] #207 closed

[2018-03-20 03:18] joaocarlosleme opened #216 "Master branch is not compatible with current version of Neo.VM"
Can't build neo-gui with current version of Neo.VM, other than 2.0.4.

Error on neo-gui\UI\TransferDialog.cs line 66 and on neo-gui\UI\MainForm.cs line 455. They both call GetArray(), but the method was throwing a new NotSupportedException() and was removed on Feb.2nd commit. See [commit changes](https://github.com/neo-project/neo-vm/commit/3fd0c9f09cbfdfffed86cbef845ad920f751a0fa#diff-d37b711635d

[2018-03-20 04:37] Jdog88 commented on #215
@chrisbednarski did that work?

[2018-03-20 06:24] sandeepkrsony commented on #215
Same problem with me.. i sent 4.7 gas to poloniex when i track transaction.. there are showing UNSPENT..  it is almost 10 days completed..how to cofirm transaction.. what should i do..
block 2005191
txid- e1b75ec230c7f6ee87d60cf54d73a88952e9d3b11dd3b2b4761507ba49c2179a

  please please help anybody

[2018-03-20 07:58] erikzhang commented on #216
The master branch of neo-gui is not compatible with current version of Neo.VM.

[2018-03-20 08:34] chrisbednarski commented on #215
still syncing 1883000/2043988

the last number keeps climbing ... so far so good, just need to wait for the block download to catch up to the current block height

[2018-03-20 08:43] sandeepkrsony commented on #215
my block is 2005191. which is still unspent

On 20-Mar-2018 2:04 PM, "chrisbednarski" <notifications@github.com> wrote:

[2018-03-20 13:23] joaocarlosleme commented on #216
Why there ain't no other branch available, other than master?

[2018-03-20 13:53] Jdog88 commented on #215
@chrisbednarski yeah the block download is extra slow when it gets closer to the block height.  I find that if you see it stuck for a long time, close it and relaunch the wallet again, you will see the number jump and start running right away fast.

[2018-03-20 13:55] sandeepkrsony commented on #215
how to close and relaunch again

On 20-Mar-2018 7:23 PM, "Jdog88" <notifications@github.com> wrote:

[2018-03-20 14:14] jrsikors commented on #215
just literally exit / close neo-gui.exe application ... then open neo-gui.exe application :smile:

[2018-03-20 16:33] jrsikors commented on #215
I walked through the same process everyone else has to over the weekend... from scratch.

I deleted my chain folder
I deleted my peers.dat
I downloaded the latest chain.acc.zip and placed it in NEO-GUI folder ... didn't unzip it.

It took an hour to get to 0 / 1.8 mil / 1.8 mil
It then took another 23 hours to get the last 300,000 blocks
The only reason it took that long is because I forgot to clo

[2018-03-20 20:29] NeoAntman85 opened #217 "GAS Claim"
Hi everyone,
similar issue here re the gas claim. I do run the latest version of NEO gui (2.6.6596.21976).
All three parameters are in sync and I am up to date re the blocks.
I have recently made a gas claim and received a tx-number.
The aforementioned number is not being recognized on the https://neotracker.io/ but on antcha.in.
https://neotracker.io/ does show me an unclaimed GAS amount though w

[2018-03-20 20:41] jrsikors commented on #217
Should be a 3 step process:
Step 1)  Send NEO to yourself
Step 2)  Wait a few mins
Step 3)  Go to Advanced -> NEOGas Claim  ... and the button to 'claim gas' should be there

What steps are you doing when you say this:

[2018-03-20 21:12] chrisbednarski commented on #215
up to block 2045880/2045880 so all good now

not sure where the bit of not unzipping `chain.acc.zip` came from
I unzipped the `chain.acc` into the same folder where `neo-gui.exe` is located and the last block number went up to 2022949 in a few minutes

[2018-03-20 22:00] jrsikors commented on #215
it "came" from the instructions :smile:
http://docs.neo.org/en-us/node/gui.html

and @erikzhang has said it as well

The 3rd number is just block height... the 2nd number is basically "where your computer is synced relative to block height".

So if you did the chain.acc.zip properly (and NOT unzipped it), your 2nd number would have gone up to about 1.8 million in an hour

[2018-03-21 09:11] #155 closed

[2018-03-21 09:13] #165 closed

[2018-03-21 09:15] #173 closed

[2018-03-21 09:16] juliavi opened #218 "Configuration changes made after starting a sync don't take effect"
Started to sync from the mainNet, then closed the neo-gui and changed the configuration to testNet.
After opening the gui again, it started to sync to the right folder but it was actually still syncing from the mainNet.

[2018-03-21 09:19] #178 closed

[2018-03-21 09:25] #204 closed

[2018-03-21 09:27] #214 closed

[2018-03-21 09:30] #215 closed

[2018-03-21 09:33] erikzhang commented on #218
There are two .json files that need to be changed: "config.json" and "protocol.json". You need to change them both.

[2018-03-21 14:00] katzky opened #219 "You need to add a Debug Window [like BTC, LTC, etc.]"
Currently there is no way to see what nodes are connected to your node. My client is stuck and can't get new blocks because all the nodes I'm connected to are probably also stuck at block 2,022,689.

[2018-03-21 14:03] katzky commented on #207
The workaround of deleting the peers.dat file is not working for me. I continue to be stuck at block 2,022,689.

[2018-03-21 17:10] jrsikors commented on #219
Someone posted this link in one of the last few topics:
http://monitor.cityofzion.io/

I dont think there are any Nodes having issues.

I think you are just in a situation where you need to start over again, COMPLETELY FRESH.  I listed steps in #207  , but basically:

So I just did this
step 1) Downloaded the latest https://github.com/neo-project/neo-gui/releases/latest
step 2) Downloaded the chai

[2018-03-21 17:12] jrsikors commented on #219
follow those instructions to the letter.. don't cheat or think you know better or think I typo'd something :smile: .. i didnt ... that is 100% correct and will get you from 0/0/0 to 0 / 1.8 mil / 1.8 mil

Make sure it's a different directory so you have a fresh everything ... no existing Chain folder .. no chain.acc or chain.acc.zip

The simplest is just to unzip NEO 2.6 into a new directory
if yo

[2018-03-21 17:22] jrsikors commented on #219
Basically -- I think there are 3 problems:
1)  Everyone was forced to re-sync on 2.6 from 0/0/0

2)  The "bootstrap" process to sync is a new concept and most people didn't read the instructions clearly (myself included, i am guilty).  When people see a zip file, they want to unzip it.  The NEO team's instructions CLEARLY said don't unzip it.. but from what I gathered on these posts, most people o

[2018-03-21 17:43] jrsikors commented on #206
I posted this in a couple other issues -- I decided to jump in the ocean with you all and give it a shot ... this is what I did and I was sync'd within 24 hours.  If your 2nd number or 3rd number is stuck -- consider nuking it and start over..

follow these instructions to the T.. don't cheat or think you know better or think I typo'd something .. I didn't :smile:

So I just did this
step 1) Downl

[2018-03-21 18:57] NeoAntman85 commented on #217
@jrsikors Thanks for getting involved in my help request first of all!

Re your question "What steps are you doing when you say this: 'I have recently made a gas claim and received a tx-number.'?"

Answer: I have actually done exactly what you described in step 3; the given amount had shown under "Available" and I was able to click on the "Claim All" button. That's when I received the tx number.
T

[2018-03-21 19:15] jrsikors commented on #217
You are stuck at 2,022,689 , same block number as #215  .. which is odd.

That would explain why you can't send NEO and claim GAS, you aren't really sync'd.

My only tip is to close down NEO-GUI .. delete peers.dat .. and re-open NEO-GUI ... but #215 stated that didn't work.

So your only other option might be to follow my steps in #215 , nuke everything and start the sync over

[2018-03-21 19:15] jrsikors commented on #217
i meant #219 as well for instructions

[2018-03-21 20:09] juliavi commented on #218
Of course I changed them both.

[2018-03-22 02:39] jrsikors commented on #218
can you copy/paste your config.json and protocol.json ?

[2018-03-22 10:22] Johnydog commented on #207
Just wanted to say i'm all set!  After the second and third numbers finally synced, wallet conversion and adding the NEP-5 ONT token was straight forward.

Thank you again @jrsikors for the support, patience and just being here for a basic user like myself.

[2018-03-22 15:54] jrsikors commented on #207
:bowing_man:

[2018-03-22 20:56] jrsikors commented on #218
In addition to that.. don't want to assume, but are you on the latest 2.6 client?

If you are -- double check the config_mainnet.json template against your config.json template.

Depending on what version you are upgrading coming from -- NEO team has changed the format of the config.json .  So if you are trying to bring over an older version / different format of config.json .. that could be it as

[2018-03-23 19:24] NeoAntman85 commented on #217
Hi there again,
followed your instructions as mentioned in #219; fresh GUI download, new directory, chain download as zip file, launch & waiting for sync... And guess what; stuck at 2,022,689 **again.**

Any further recos for me? :-(

[2018-03-23 20:10] jrsikors commented on #217
yikes.  no clue

@PeterLinX @erikzhang :
Any nodes having problems on block   2,022,689 ?  multiple people reporting being stuck on that specific block

[2018-03-24 06:50] juliavi commented on #218
I'll look into the code and update

[2018-03-24 08:30] uschwenkert opened #220 "Neo Gui doesn't recieve new blocks"
After upgrading to Neo Gui v2.6.0 synchronzing the blocks up to block height 2000190. Since then Neo-gui is waiting for the next block but nothing happens. It shows "Connected: 10".

Can anyone give me a hint whats wrong ?

![grafik](https://user-images.githubusercontent.com/32311643/37861976-0041d2b4-2f46-11e8-9844-8b5f989af5d4.png)

[2018-03-24 14:58] jrsikors commented on #220
#215 , #219 , #211

You and lots of others.

follow my steps in #219 exactly

[2018-03-24 15:35] jrsikors commented on #220
But i will say, in #217  -- he got stuck on a different block, and a couple other people have gotten stuck on a different block (2,022,689) -- so you can give it a shot , but it might actually be wise to wait a few days and give the team a chance to try to fix the issue

[2018-03-26 01:29] katzky commented on #219
Yeah I have already done all the steps as outlined in your comments. The client keeps hanging and needs to be restarted every 50k - 100k blocks. [The client indicates "(Not Responding)"]

I was able to quickly sync via the bootstrap on a couple of occasions but this time it just keeps hanging.

[2018-03-26 02:38] katzky opened #221 "Neo-gui client UI thread blocked during bootstrapping"
When using the bootstrap method of syncing the blocks, the GUI often becomes unresponsive.

[2018-03-26 02:38] katzky opened #222 "Please add ability to use numeric keypad to enter values."

[2018-03-26 08:41] erikzhang commented on #217
Yes, there is an issue at https://github.com/neo-project/neo/issues/193

[2018-03-26 14:07] SlyCognito opened #223 "Neo GUI 2.6 - Unhandled exception"
Hi,

When I try to open wallet database it just says unhandled exeption has occurred in your application. The type initializer for 'Neo.WalletsIndexer' threw an exeption. Otherwise the wallet is fully synced. I have attached the log details below. Any help would be appreciated, Thanks.

[Neo Unhandled exception.txt](https://github.com/neo-project/neo-gui/files/1848113/Neo.Unhandled.exception.txt)

[2018-03-26 14:26] jrsikors commented on #221
might be similar to enhancement request #172

NEO-GUI can be a resource hog... have you looked at windows task manager during the process to see if CPU is pegged at 100%?

[2018-03-26 14:28] jrsikors commented on #217
thanks Erik -- are you all (can you please? :smile: ) going to be putting a new chain.acc.zip out there anytime soon to get people past that block?

[2018-03-26 14:34] jrsikors commented on #223
check out #118

To solve this, please install vs2010 redist x86 and x64:

https://www.microsoft.com/de-de/download/details.aspx?id=14632

https://www.microsoft.com/de-de/download/details.aspx?id=5555

[2018-03-26 15:26] SlyCognito commented on #223
Thanks a lot. Had nothing but problems since 2.6.  Just for reference and to anyone else encountering this problem had to delete the index_xxxxx folder as well as installing the above.

Thanks again.

[2018-03-28 05:26] stephenhodgkiss commented on #172
Same issue here, using the latest NEO-GUI version that I downloaded a few days ago, After downloading the snapshot, moving it to the correct folder and starting it up, it soon took up all my machine.

AMD QUAD CORE PROCESSOR A10-9620P
8GB DDR4 RAM
128GB SSD
WINDOWS 10

It had between 50-75% of the CPU and at times, 5GB RAM.

[2018-03-28 21:09] katzky commented on #221
No it is not consuming a ton of resources. The GUI become unresponsive and I am 99.9% sure this is due to the UI thread being blocked by another thread.

[2018-03-28 21:49] jrsikors commented on #221
I can definitely also confirm the unresponsiveness during sync, I just assumed it was due to the heavy taxing on the system's resources.  I won't argue with you :smile:

[2018-03-29 00:28] scombo commented on #206
Hi Js

Well after following steps above , I have restarted and been running it for a few days but the second number is going up very slowly . 3rd number is 2078560 (which it got too quickly) 2nd is only 1491600

Assuming that this is just a situation where I just have to sit and wait for it

[2018-03-29 05:52] Ron8111 commented on #191
Hi Guys, sorry for a really late response. Ok, I followed the steps - downloaded the newest wallet, transfer db3 file to json and fully synch the blockchain. However, nep-5 token balance is not still visible in the wallet interface.
![nep-5](https://user-images.githubusercontent.com/36578170/38072356-2718b55e-3326-11e8-8b17-e4b539d31489.png)

[2018-03-29 10:33] stephenhodgkiss commented on #172
There doesn't seem to be any response from the developers on this issue. I am still struggling to get the GUI to sync.

[2018-03-29 14:41] jrsikors commented on #172
I would say there isn't a response -- but I know @erikzhang watches this page and would bet a lot of money he relays to the team about all the issues.  He usually responds if you ask him directly ..

like hey @erikzhang can you please put a new chain.acc.zip up that is closer to full sync and let us know when it's there :smile:

I do think the only issue at hand is the stuck blocks due to node iss

[2018-03-29 15:43] jrsikors commented on #191
this is for adding ONT ..  stolen from:
https://www.reddit.com/r/NEO/comments/82wcpt/ont_script_hash_for_neogui/

Advanced
Options
Add ONT Scripthash: ceab719b8baa2310f232ee0d277c061704541cfb
Apply/Ok
Wallet Sync
You should now see your ONT Tokens

[2018-03-29 15:47] jrsikors commented on #191
you wont see the tokens on that screenshot screen though --  they won't show up on the same screen as your NEO and GAS .. it's whatever that middle tab is (Not at my computer with my wallet so I can't remember :smile: )

[2018-03-29 15:48] jrsikors commented on #191
the "Asset" tab is where they will show

[2018-03-29 15:59] Ron8111 commented on #191
Hi Jeff, it is RPX tokens which scripthash should I add?
probably that one 0xecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9

https://www.reddit.com/r/RedPulseToken/comments/75l4i2/lost_script_hash/

[2018-03-29 16:09] jrsikors commented on #191
yeah i was going to post same thing -- that's all i would do .. google it.  I dont have any master spreadsheet or anything, or know where to 'officially' find it other than RedPulses documentation

I would vote go with the reddit thread's suggestion

[2018-03-29 16:11] Ron8111 commented on #191
Thanks, it was pretty damm easy. Sorry for the inconvenience

[2018-03-29 16:49] jrsikors commented on #191
no inconvenience man !  Happy to help !

[2018-03-30 08:59] NeoAntman85 commented on #217
Hi there, after another attempt it has now synced; I am up to 2084065 with all three parameters.
However the gas amount is still unchanged; the claim did not come through.

As described: Under "Asset" I can see my current gas balance and the "missing amount"; it looks like this:
Balance: x.xx +(xx.xx); the "x" as a proxy for my actual gas amounts.
When I double-click that line it tries to take me

[2018-03-30 12:11] boxalex opened #224 "Neo Wallet Problem a sudden: System.NullReferenceException"
Hello, my 2.6 NEO wallet on Windows 10 worked perfectly until now. I had in for longer installed and had no issues since today.

Issue:
After i open the client it shuts down after some seconds.
Height: 0/2074349/2084562 while i wonder where the 0 comes a sudden from?!

Error.txt
System.NullReferenceException
Object reference not set to an instance of an object.
   at Neo.Implementations.Blockchain

[2018-03-30 14:04] jrsikors commented on #217
Now that you are sync'd -- you need:
 Step 1) Send NEO to yourself , same address
 Step 2) Wait a few mins
 Step 2) Go to Advanced -> NeoGas Claim
 Step 3)  The button to claim Gas will be clickable

GAS isn't under the "Asset" I dont think

[2018-03-30 14:28] jrsikors commented on #217
OK i just checked -- yeah NeoGAS is under Asset.  I rarely use the Asset tab sorry !

Either way -- my previous steps still apply for claiming NeoGas

[2018-03-31 10:06] boxalex commented on #224
Update:
Here the exactly block when the NEO Gui crashes on my end each time:
2,074,349/2,088,179

maybe this info helps as well.

[2018-04-02 16:54] jrsikors commented on #223
no prob..

@erikzhang  you can close this one up !

[2018-04-02 16:54] jrsikors commented on #220
Any update on this?  Were you able to get sync'd?

[2018-04-02 16:55] jrsikors commented on #217
What's the word on this?  You good to go now ?

[2018-04-02 16:55] jrsikors commented on #206
What's the status on this one -- you good to go now @scombo  ?  Sorry for late response !

[2018-04-02 16:56] jrsikors commented on #202
Were you able to ever figure this one out?  Or still same problems and looking for help ?

[2018-04-02 18:07] jrsikors commented on #224
One thing I noticed you didn't try is with a fresh Chain directory.. which is a pain but it's a must.

You need to:
 1)  Delete your chain directory
 2)  download http://static.neo.org/client/chain.acc.zip
 3)  copy that zip... DO NOT UNZIP IT .. to the same directory as NEO-GUI.exe
 4)  run neo-gui.exe , and let it sync

You could always follow those steps, grab your private key  while it's synci

[2018-04-02 18:11] jrsikors commented on #224
and the 3 numbers are:
first number = where your wallet is sync'd to ... so if you dont have the wallet loaded, it will be 0
second number = where your computer is sync'd to
third number = latest block in the block chain

So you to get fully sync'd, you need to wait until 2nd and 3rd numbers get syncd... then open wallet and let 1 sync.  So all 3 numbers should be equal and on the latest block eve

[2018-04-03 03:53] #223 closed

[2018-04-03 08:43] maisumakun opened #226 "raises 'insufficient funds' error with NEP-5 Token (decimal != 8)"
Decimals of NEP-5 tokens are likely to not considered in transfer dialog [like this](https://github.com/neo-project/neo-gui/blob/0c2964dcc4b1fc91bb6ccac8c677547ced29803b/neo-gui/UI/PayToDialog.cs#L53), resulting in incorrect balance calculation for tokens whose `decimals` is not 8.

[2018-04-04 15:47] uschwenkert commented on #220
I followed the steps in  <https://github.com/neo-project/neo-gui/issues/219> #219. Up to block 1200000 it got sync’d within 10 minutes.

Neo is still synching, it is incredible slow. Block height is 1681330 in this moment.

Von: Jeff S <notifications@github.com>
Gesendet: Montag, 2. April 2018 18:55
An: neo-project/neo-gui <neo-gui@noreply.github.com>
Cc: uschwenkert <schwenkert@online.de>; Author

[2018-04-06 02:55] scombo commented on #206
Hi Jeff

Still waiting for the 2nd and third numbers to update, its getting there but unbelivably slowly. Just going to sit it out now until I can try and open the wallet and then I will take my balance out and try another wallet

Thanks

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On April 3, 2018 2:55 AM, Jeff S <notifications@github.com> wrote:

[2018-04-06 03:00] jrsikors commented on #206
You can open your wallet at any time and grab the private key(s).. shouldn’t need to wait for full sync.

[2018-04-06 07:19] 10Bit000 commented on #226
Hey. Need help with neo-gui. How to find support?

[2018-04-08 06:59] #216 closed

[2018-04-08 08:19] wangschang opened #228 "Neo.Implementations.Wallets.EntityFramework.UserWallet.CreateAccount"
有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.NotSupportedException: 不支持所指定的方法。
   在 Neo.Implementations.Wallets.EntityFramework.UserWallet.CreateAccount(Contract contract, KeyPair key)
   在 Neo.UI.MainForm.多方签名MToolStripMenuItem_Click(Object sender, EventArgs e)
   在 System.Windows.Forms.ToolStripItem.RaiseEvent(Object key, EventArgs e)
   在 System.Windows.Forms

[2018-04-08 08:20] wangschang commented on #228
how to do?

[2018-04-08 10:51] uschwenkert commented on #220
I got sync’d. Thanks

[2018-04-08 14:07] NeoAntman85 commented on #217
Hi, sorry for the delayed response!
Was not able to look into it until now.
Anyways - your proposed solution worked, many thanks again!

[2018-04-09 07:09] stretchlancaster commented on #74
I'm having a similar problem with sending GAS from my NEO wallet to an external address. In the neotracker.io it states that the amount is UNSPENT. How do I fix this? it's been stuck for weeks now

[2018-04-09 07:12] #220 closed

[2018-04-09 07:12] #217 closed

[2018-04-09 14:33] jrsikors commented on #224
any update here ?

[2018-04-09 15:42] boxalex commented on #224
Hi, yes, i get a 404 Error on http://static.neo.org/client/chain.acc.zip .
I just switched to City of Zion Neo Wallet which works just fine.
I prefer real desktop wallets like the NEO Gui, but i have not the time to play around for days, so i best wait until a stable reliable version gets out.
Anyway, thx a lot for your help, i appreciate your continous afford. Hence i love NEO :-)

[2018-04-10 04:27] niastakevin opened #229 "The Private Key that Can Sign the data is not found"
![issues](https://user-images.githubusercontent.com/17697662/38536180-fd80db50-3cb1-11e8-8adf-e70a7e204e7c.png)

i dont understand what happened. transfer NEO from Contract Address to Standart Account, get the script signature (already created multi-sig before do the transfer). when tried to copy the trxid to signature wallet 2, this happened.

[2018-04-10 12:43] miaodd98 opened #230 "Can not publish neon.exe"
I have followed your official instructions to build neo compiler. But it can not publish neon.exe. I have checked my VS but find nothing wrong. How can I build my neo compiler or is there any published compiler that I can use immediately?

[2018-04-15 13:13] solinter commented on #229
The same issue. +1

[2018-04-15 15:20] niastakevin commented on #229
Hi Solinter, i just found the solution. You have to create multi-sig in 4 wallets (contract address).

[2018-04-15 16:08] solinter commented on #229
Thank you!

[2018-04-17 14:09] kashyap2690 commented on #214
@erikzhang  Can developer tools be used to do the same? Can you guide through steps?

[2018-04-20 08:37] Seahorst opened #231 "Neo Gui Exception (System.ArgumentException)e"
Hi,

after opening the GUI (2.26442.408), the system starts syncing for a minute or so and then throws an exception. I am using this GUI since more than 6 month now an I wonder why it is not working anymore - perhaps someone can help?
The error log contains the following:

System.ArgumentException
Der Wert liegt außerhalb des erwarteten Bereichs.
   bei Neo.IO.Caching.DataCache`2.Add(TKey key, TVa

[2018-04-20 15:08] OliviaSong opened #232 "I want to rewrite gui with electron"
GUI project code is completely rewritten, neo.dll code is referenced by edge, and an abstract interface layer is made between them.

Do anyone think this idea is very good

[2018-04-21 07:09] neotokens commented on #185
你必须要安装.NetFramework 4.7.1  有的操作系统需要先打补丁才能安装

[2018-04-21 07:16] neotokens opened #233 "How can I modify the numbers of the node for Test"
I want to use only one node to build the private chain for consensus and where I should modify for the code?
(我想用一台节点实现私链共识，请问我需要修改代码的什么地方?)

[2018-04-21 07:21] neotokens commented on #233
Is there anybody here please?

[2018-04-26 09:07] danny1199 opened #234 "neo-gui has stopped working"
I have version 2.3.6458.21374 and every time I open it it will attempt to sync for a short while before the message 'neo-gui has stopped working' appears and I have to close the programme. Tried with my VPN off as well as my security programme but got the same result.  Can anybody help me please. (I have Windows 10)

[2018-04-28 01:02] neotokens commented on #234
U can check the error.log file for the reason.

[2018-04-29 09:28] HuJinguang opened #235 "提取Neo，多方签名时的错误"
有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.NotSupportedException: 不支持所指定的方法。
   在 Neo.Implementations.Wallets.EntityFramework.UserWallet.CreateAccount(Contract contract, KeyPair key)
   在 Neo.UI.MainForm.多方签名MToolStripMenuItem_Click(Object sender, EventArgs e)
   在 System.Windows.Forms.ToolStripItem.RaiseEvent(Object key, EventArgs e)
   在 System.Windows.Forms

[2018-04-29 11:31] JKAbrams commented on #219
I had the same problem and I found that Neo-GUI does not work on 32 bit Windows 7 in a virtual machine. It reaches 1.6GB memory usage then it crashes, which takes about 2.5 minutes on my machine. The amount of memory actually available to the machine did not matter, except for when I set it to 1.2GB total memory, it did not crash anymore but instead ran horribly slow.
I found no solution to the pr

[2018-05-01 10:29] kostepanych opened #236 "Neo GUI not show assets"
I created a wallet in NEO GUI and withdraw Red Pulse (RPX) tokens from binance to this wallet.
I can see those tokens in neotracker but they no show in NEO GUI. Transactions also not show.
Why?
NEO GUI is synced.

[2018-05-10 15:32] dinnur73 commented on #236
![image](https://user-images.githubusercontent.com/36741206/39878221-dca5e058-5488-11e8-8ab1-e3ce5e15817e.png)

[2018-05-13 10:50] drabadan commented on #205
you might not have changed the protocol.json settings...
I had the same issue because I changed the config.json but not changed protocol.json to testnet

[2018-05-14 21:23] briguy1 commented on #176
Hi,

I am currently trying to upgrade my neon wallet since because I don't have the most recent update. Can someone explain how too do this. I already downloaded the new wallet off the Neon website, but now im trying to take my neo from my old wallet and transfer it too my new one but cant figure out how its done. Can someone please explain!

[2018-05-14 21:36] jrsikors commented on #176
NEON wallet or NEO-GUI?

[2018-05-14 22:10] g4usat commented on #176
Its NEON wallet. I have older version of it and can I upgrade it to newer
version without having to do any manual transferring of coins? I mean can I
just upgrade it and open the new wallet as like the older version?

Best Regards,
Srinivas Takuri

On Mon, May 14, 2018 at 4:36 PM, Jeff S <notifications@github.com> wrote:

[2018-05-14 23:11] jrsikors commented on #176
you might want to go to the CityofZion page and ask NEON questions there -- but basically you can upgrade NEON and you don't need to upgrade your wallet.

Your wallet is stored in C:\Users\YOU\AppData\Roaming\NEON\Storage

You should take a backup of the userWallet.json

But you should post over in their forum to confirm if you want:
https://github.com/CityOfZion/neon-wallet/issues

[2018-05-14 23:13] jrsikors commented on #236
do you have the script hash 0xecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9 added for it?

[2018-05-14 23:43] g4usat commented on #176
Ok, Thanks Jeff...Will check over there...

Best Regards,
Srinivas Takuri

On Mon, May 14, 2018 at 6:11 PM, Jeff S <notifications@github.com> wrote:

[2018-05-15 12:22] gitbrook commented on #236
I am also having a similar issue with the MCT token. I invoked a contract to pull in the MCT hash: a87cc2a513f5d8b4a42432343687c2127c60bc3f

The transaction was confirmed, but I am not seeing MCT listed under assets or under options. I do see the airdropped MCT on the block explorer for my address.

[2018-05-15 22:19] CrypJohn commented on #191
for some reason my wallet won't convert to json and im resyncing 2.5.2. Does this still work if I want to transfer my NEO?

[2018-05-15 22:49] CrypJohn opened #237 ".db3 can't convert to json"
Downloaded 2.6 version but wallet file can't be converted/openend. Can I still transfer funds if I go back to 2.5.2.?

[2018-05-15 22:58] jrsikors commented on #191
Depends on what you really want to do:
  If you load up your wallet in 2.5.2 you should be able to export your private key(s) , you don't need to be sync'd for that.

From there you could:
  A)  Upgrade NEO-GUI to 2.6  and create a new wallet, import private keys
  B)  load private key to another wallet like NEON wallet

It's always advised not to "send" while you aren't fully sync'd.

[2018-05-15 23:02] jrsikors commented on #237
check out https://github.com/neo-project/neo-gui/issues/118

if you are having issues converting.

But as I said in my other post -- definitely use 2.5.2 and get your private keys exported / safe place before you continue

[2018-05-15 23:06] jrsikors commented on #236
are you:
  A)  On the latest NEO 2.6
  B)  Fully sync'd and on the latest block (2,272,764)

[2018-05-15 23:12] CrypJohn commented on #237
thanks for response, but sorry, can't find the solution in 118.

Can I still use 2.5.2. for transfers? Or is 2.6 update mandatory?

[2018-05-15 23:18] CrypJohn commented on #237
it's almost fully synced again after a week, but can't see my NEP5 tokens yet (scripts added)

[2018-05-15 23:27] jrsikors commented on #237
I personally wouldn't suggest it, and it's not recommended.

I personally have transferred funds while not sync'd and had both successes and failures different times.  I think you are safer doing 1 of 2 things:
  A)  Export private keys from 2.5.2 , and create a new wallet in 2.6 , and import private keys.  This way you don't have to "upgrade" your wallet from 2.5.2 to 2.6.  You are creating a bra

[2018-05-15 23:29] CrypJohn commented on #237
good advice, better be on the safe side. thanks!

[2018-05-15 23:29] #237 closed

[2018-05-16 12:53] gitbrook commented on #236
Yes, on 2.6 and was fully synced when I did this last Saturday, but haven't checked since then. I closed the wallet after 60+ confirmations of the transaction.

[2018-05-26 01:52] Relfos commented on #202
I've found a similar problem, happens when your AVM fiile is quite large and when you paste it into this window, part of it gets cut off

[2018-05-28 18:02] dinihou opened #238 "neo-gui assest exception"
hi
i create an assets at neo private chain but when i distribute it i have this error on reception wallet
![neo_1](https://user-images.githubusercontent.com/25209492/40625324-b5e1b756-62c2-11e8-964e-91f566ea7895.png)

any info what problem ??

[2018-05-28 18:20] dinihou commented on #233
i am not neo developer but i found this :
"The deployment of an NEO private chain requires at least four servers to reach a consensus"
source : http://docs.neo.org/en-us/network/private-chain.html

[2018-05-29 07:37] #84 closed

[2018-05-29 07:37] #152 closed

[2018-05-29 07:39] #180 closed

[2018-05-29 07:40] #185 closed

[2018-05-29 07:40] #202 closed

[2018-05-29 07:40] #203 closed

[2018-05-29 07:41] #218 closed

[2018-05-29 07:42] #206 closed

[2018-05-29 07:43] erikzhang commented on #221
resolved

[2018-05-29 07:43] #221 closed

[2018-05-29 07:44] #224 closed

[2018-05-29 07:46] #229 closed

[2018-05-29 07:46] #230 closed

[2018-05-29 07:47] #234 closed

[2018-05-29 07:48] #236 closed

[2018-05-29 10:43] OliviaSong commented on #232
To my shame,  will take time to start  as soon as possible.

[2018-05-30 11:46] dinihou commented on #238
problem in neo-gui only ,neo-cli just work fine
best to handle exceptions guys ,this is a 4B$ project ,seriously !!

[2018-05-30 11:53] erikzhang commented on #238
I need the exception message.

[2018-05-31 11:34] dinihou commented on #238
exception is :
Settings.Defaut.Paths is "null"
as you see , There no "Paths" element var in settings structure , but "neo-gui" tray to create dir on this var

![neo_2](https://user-images.githubusercontent.com/25209492/40779990-041422e8-64e8-11e8-94d1-52453dc5d79e.png)

[2018-05-31 18:23] erikzhang commented on #238
Please send me the exception message.

[2018-05-31 19:55] dinihou commented on #238
note :
- i am running in private network
- error when neo-gui try parse my registered asset

exception message :
https://prnt.sc/jp728t

[2018-06-01 05:55] erikzhang commented on #238
It seems that the problem is in the configuration file.
Can you provide me your config.json?

[2018-06-01 13:00] dinihou commented on #238
of course :
http://prntscr.com/jpifbl

[2018-06-02 05:59] erikzhang commented on #238
I know where the problem is. You provide a neo-cli configuration file that cannot be used in neo-gui.

[2018-06-02 15:58] dinihou commented on #238
my mistack , i dont know how cli config come to gui folder
i fixed it , thanks bro , keep good work

[2018-06-03 06:02] #238 closed

[2018-06-05 14:34] OliviaSong commented on #232
update ,
origin solution will take too many time,here i have a new idea to implement.
aspnet/Blazor can help to change current code and electron can run the assembly.

[2018-06-07 11:50] ly745455 opened #239 "请问什么调式官方给的demo Domain（域名系统)"
请问什么调式官方给的demo Domain（域名系统)，在neo-gui中如何调式demo Domain（域名系统)，在哪里可以看到文档说明，如何部署智能合约，开发文档给的例子上很简单，比如方法要转多个参数、创建集合等，谢谢

[2018-06-08 04:08] grishatataru commented on #165
I have the same thing,how can we fix this issue?

[2018-06-13 02:56] Crypt0Bro opened #240 "What is the ScriptHash for NKN in the NEO GUI?"

[2018-06-19 06:46] #226 closed

[2018-06-21 07:13] davidstroukbn commented on #30
@donkeykonghunter even with the blockchain fully synced I'm getting the "Unhandled exception has occured in your application" error.

<img width="453" alt="screen shot 2018-06-21 at 10 13 00" src="https://user-images.githubusercontent.com/40020736/41703370-b5c79746-753b-11e8-8619-9d7578800148.png">

Can someone pls help me?

*edit* : this has been solved by installing Microsoft Visual Studio C++ (

[2018-06-22 00:28] jaydeeatechs opened #241 "v 2.3.6458.21374 no longer sync"
v. 2.3.6458.21374 does add new blocks but won't download blocks to catch up with the total?  what do i do?  if i need to install a new version, how to i ensure it will restore?  or do i have to start from scratch?

[2018-06-26 21:15] miningbadger commented on #240
NKN hash: c36aee199dbba6c3f439983657558cfb67629599
NKN Token - https://www.nkn.org

[2018-06-27 07:46] birmas opened #242 "contracts compiled with nep8 compiler cannot be evaluated"
Is there a timeline to have neo-gui updated to use the latest version of neo-vm? Contracts compiled with the nep8 compatible compiler can no longer be used

[2018-06-27 08:00] erikzhang commented on #242
See https://github.com/neo-project/neo-compiler/pull/117

[2018-06-27 08:01] ghost commented on #242
ah fantastic I hadn't seen that! I'll give it a try - thanks @erikzhang

[2018-06-27 08:05] erikzhang commented on #242
Also, I will publish a preview release of gui for TESTNET.

[2018-06-27 08:15] ghost commented on #242
closing issue as the branch by @lightszero addresses this concern

[2018-06-27 08:15] #242 closed

[2018-06-28 07:32] fabwa commented on #241
Please consider using a boostrap file from here https://github.com/CityOfZion/awesome-neo#blockchain-bootstrap-files

[2018-06-28 09:01] yura-sutnuk opened #244 "missing neo balance"
I requested a test neo, created a contract address and waited for the full synchronization of the wallet, I saw on the balance of the contract address 1 neo and gas (but asked 100), for several days I did nothing with them and when I decided to transfer them to another address I found out that the balance is 0.
What happened?

[2018-07-04 05:11] birmas opened #247 "calculating gas for contract invocation"
I'm trying to determine if there is an efficient way to calculate the gas requirements of a contract invocation that runs CheckWitness.

It is easy enough to calculate the actual gas requirement for this contract but becomes significantly more difficult as the contract complexity increases. For the sample contract below:

neo-gui test invocation: Gas Consumed: 1.244
If you comment out the CheckWit

[2018-07-06 23:03] jaydeeatechs commented on #241
thanks. I am running net v. 2.3.6458.21374, however truly i have never known whether it's the neo-gui or the neo-cli (and what's the difference).  i see that both are 2.7.6 now.  how do i know which file to download (there are several files in the bootstrap section) and precisely what to to do with the file once downloaded.  it seems reading the tutorial that i would unzip and save to the neo/chai

[2018-07-09 19:08] KapilMayekar opened #295 "Help! Issue with NEO-GUI wallet password and/or db3 file!"
Hello,

My Neo-Gui wallet ver. 2.0.6411.26926 refuses to acknowledge my wallet password. It throws up a “Password Incorrect” error - even though I know for sure the password is correct. (I have 100% never changed the password since first use.)

**Unfortunately, I had not backed-up the private key, and had not made a copy of the db3 file!** Mercy!

The Neo-Gui wallet was installed on an Acer (Spin

[2018-07-10 16:45] jseagrave21 commented on #295
Have you only interacted with this wallet using NEO GUI? Perhaps you imported it into NEON wallet and created an encrypted key? If so, you can convert your encrypted key (with address and password) back to your WIF. This is accomplished by using this tool: https://snowypowers.github.io/ansy/

Also, if you download the latest NEO GUI wallet, it will automatically convert (create a copy of) your db3

[2018-07-11 09:23] hsiaosiyuan0 commented on #166
我也遇到同样的问题，四个共识节点的钱包分别是 wallet1~4，以其中任意一个钱包发起转账交易，在剩余的第三个钱包进行签名时，都会出现上面的截图 “没有找到可以签署该数据的私钥”。不知道出现这样的问题还有什么可能性吗？

[2018-07-11 10:15] hsiaosiyuan0 commented on #166
找到问题了，我一直都是由任意一个钱包开始，然后一直操作到第 4 个钱包，而实际上是由任意一个钱包开始，再操作两个钱包即可：

[2018-07-11 14:35] KapilMayekar commented on #295
Thank you erikzhang for flagging this post, and jseagrave21 for your quick feedback and suggestions. I had not yet moved to a NEON wallet. I will be downloading the latest NEO GUI tonight (the NEO site appeared down / very slow yesterday). Fingers crossed the db3>>json conversion goes well!

[2018-07-11 17:56] KapilMayekar commented on #295
I just downloaded the latest Neo-GUI wallet 2.7.6. I selected 'SQLite Wallet' from the dropdown and pointed it to the original db3 wallet file. Unfortunately, it still gives me the "Password Incorrect" message. It paused for a few (very long) seconds before returning the error message. Could there be an issue with the db3 file itself? If it has somehow got corrupted, is there any way to have this

[2018-07-11 20:52] jseagrave21 commented on #295
@KapilMayekar at this point, I don't know how to proceed. I am sorry my ideas did not pan out. I will comment again if I have any more ideas.

[2018-07-13 08:40] KapilMayekar commented on #295
Thank you @jseagrave21 for your sensible inputs- much appreciated. I was really hoping your idea of the automatic db3>>json conversion option (with the wallet upgrade) would work. I'm totally stuck at this point! If anyone else has any ideas - just about any suggestion - please post it up here. If anything, my situation will serve as a learning for everyone involved in Neo, or any crypto asset for

[2018-07-16 04:48] birmas opened #248 "ImportCustomContractDialog format exception"
Due to the default TextBox length of 32767 in ImportCustomContractDialog any attempt to create a contract address with bytecode exceeding this length will result in an exception being thrown.

This value should be an even number and of a suitable length for a complex smart contract.

[2018-07-16 08:03] guanhui07 commented on #20
i get the same error

[2018-07-18 12:07] Sinepitiss opened #250 "Remove Double Check"
Neo Gui get asset name in MainForm.Cs with function GetName() defined in Neo.dll ,but before that Checks if the token is GoverningToken or Utility Token ,if so gui names them Neo or NeoGas
                                string asset_name = asset.Asset.AssetType == AssetType.GoverningToken ? "NEO" :
                                                                 asset.Asset.AssetType == AssetType

[2018-07-18 12:16] Sinepitiss commented on #250
@erikzhang because you don't want to ,or there is another reason?Or you just don't want to share the reason?

[2018-07-18 17:42] Sinepitiss commented on #250
If it's the first ,then I can do it :)

[2018-07-18 19:04] kbeanheads opened #251 "Missing Neo"
I had neo in a old neo-gui wallet and it stopped syncing at block 2022689. Shortly after my neo and gas disappeared.
Is there a way to find out where my neo went? I do have the keys.
I have downloaded the new version 2.7.6.

[2018-07-19 04:57] erikzhang commented on #250
We are moving to NEO 3.0, so for 2.x we no longer fix non-critical issues.

[2018-07-19 08:22] Sinepitiss commented on #251
This is on mainnet I assume.In neo-gui Right click to the address where your neo and gas were and click "View Contract" there you can copy your address ,open https://neoscan.io in your browser and paste your address in top left corner ,where the search box is and press enter.This should open your address and all transactions

[2018-07-19 08:22] Sinepitiss commented on #250
I see ,so after 3.0 I can make a pull request and make the changes myself ,right?

[2018-07-19 15:07] Sinepitiss commented on #295
@KapilMayekar well to be 100% have you tried to create a new wallet ,close neo-gui ,reopen it again ,shut down your computer and try that again ,etc?that would take out the possibility of neo-gui not working correctly instead of file being corrupted ,if that doesn't work try system restore to get before that point(could be worth a shot ,what you have to lose?) be sure to backup the wallet file bef

[2018-07-19 18:56] kbeanheads commented on #251
Thanks , I can see the neo. Any idea how I can get them into my wallet?

[2018-07-20 13:29] Sinepitiss commented on #251
well first thing is: **copy and paste you wallet file somewhere else to back it up** ,this is important!
Now try to open your wallet file with neo gui 2.7.6. and wait for blocks to sync ,if this works thats it.(neo-gui will ask if you wish to update the wallet to newer version)
If this doesn't work however you will need to get you WIFI key by using **older neo-gui** by right-clicking on the addres

[2018-07-22 19:55] KapilMayekar commented on #295
@Sinepitiss Thank you very much for your feedback. Yes, I had tried creating a new wallet with different versions of neo-gui; with the full shut-down/re-open routine. I did restore to a previous state of the system just prior to installing Norton (as mentioned, I had accessed the wallet normally just the day before installing Norton). Taking your suggestion further, I will attempt to restore the s

[2018-07-23 06:19] kbeanheads commented on #251
Many thanks for this.
Will give it a go when the wallet has finished syncing and let you know how I get on.
Cheers

[2018-07-23 09:21] Sinepitiss commented on #251
sure ,you can open your wallet without finishing syncing blocks ,if you get past the amount where you were stuck and Neo show up in your wallet ,its all safe.

[2018-07-23 09:21] Sinepitiss commented on #295
just remember to back up your wallet file prior to this.

[2018-07-23 10:59] Sinepitiss opened #252 "Duplicate transaction id"
By sending NEP-5 asset to the same wallet with the same amount will produce the same txid ,I could add random remark to the transaction to make a different txid.

[2018-07-26 03:52] grishatataru commented on #165
@MashiRos
Did you find a solution?
I have the same exact issue

[2018-07-27 17:36] kbeanheads commented on #251
Got me neo back , many thanks pal.

[2018-07-29 17:15] Sinepitiss commented on #251
@kbeanheads nice ,if you wish to send some GAS or NEO here is my address AQB51ogTWfrqp1CzJDVXimjVUcSJWzG6z1

[2018-07-29 17:55] kbeanheads commented on #251
No worries mate will do later this week

[2018-07-31 05:02] KapilMayekar commented on #295
I did a full system restore (after all the necessary backups this time). Following that, I also did a fresh install on a different (almost new) machine. The same message came up repeatedly in both instances (I read somewhere else on this forum that sometimes the 'wrong password' problem corrects itself after repeated tries). That didn't happen - so, I'm still stuck. Before you made the offer of ex

[2018-07-31 07:37] kbeanheads commented on #251
Dude, I only have 13 neo , and 1.something gas, don’t get your hopes up for much.

[2018-07-31 18:29] aaroncatalano opened #253 "Multi Signature UI does not work"
Installed NEO GUI successfully, Added wallet. Fully Synced Testnet blockchain. Modified two json files to point to test net.

Launch NEO GUI as Admin. After wallet displayed - Right click, Add Multi Signature. Multi Signature UI window displayed.  BUG: ** NEO-GUI does not allow me to update dropdown to 1 or type 1. Cannot paste or type wallet signature into field.  **  What would cause the UI not

[2018-08-01 13:05] Sinepitiss commented on #251
@kbeanheads never did ,as I said:"if you wish"

[2018-08-02 22:37] Sinepitiss commented on #295
@KapilMayekar sure ,best of luck!

[2018-08-03 15:23] aaroncatalano commented on #253
Asking Neo-GUI creators/dev for assistance with issue. Concerns about NEO-GUI wallet stability in making decision to create Dapps on NEO network as opposed to Ethereum.

[2018-08-08 20:21] grishatataru commented on #165
@jrsikors
Im in the same situation where my NEO moved from NEON wallet to a watch Address

How can we fix this problem?

[2018-08-14 06:24] chenzhitong commented on #253
@aaroncatalano  I recorded a video for you, please see this link https://github.com/chenzhitong/Attachment/blob/master/create%20multi%20signature%20address%20via%20neo-gui.mp4

[2018-08-14 06:35] Li-Tian commented on #253
@aaroncatalano The video can not display on GitHub but you can download the video provided by chenzhitong and see the short video. What you need to do is as follows.
1. Create two separated public keys and save it somewhere.
2. In the window to create Multi-Signature, paste each public key in the window at the bottom, not the window in the middle.
3. After multiple keys are enlisted, specify the n

[2018-08-22 14:30] evo771 opened #256 "NEO-GUI 2.7.6 with new chain.acc stuck at 1945082/1945082"
Hi all,

I just install Neo GUI 2.7.6 and also the chain.acc dated 2018/08/17 with ending height 2631340 in the folder. But the sync seem to stop at 0/1945082/1945082 even when I left it running overnight.

I tried reinstalling 2.7.6 and using an old chain.acc (downloaded sometime Mar 2018) but the sync also stopped at 0/1945082/1945082.

Any advice how to get it to sync?

[2018-08-22 16:52] evo771 commented on #256
I used the bootstrap files from COZ and it seems to sync pass 1945082 now. Thanks.

[2018-08-22 17:03] #256 closed

[2018-08-28 02:42] Maxim3474 opened #257 "NEO-GUI 2.7.6 does not start synchronizing"
i downloaded NEO-GUI 2.7.6 yesterday(27.08.2018), and yesterday it worked, but today there was all day and night NO synchronization, i am very intrested, what happend with synchronization?

Thanks a lot =)

[2018-09-04 05:51] chenzhitong commented on #257
2 ways:
1、Use offline Sync package [http://sync.ngd.network](http://sync.ngd.network/) To speed up the synchronization.
2、Modify protocal.json to add more seed nodes like this file
[protocol.txt](https://github.com/neo-project/neo-gui/files/2347317/protocol.txt) @Maxim3474

[2018-09-06 19:29] blahd commented on #4
Additionally it seems that #162 only supports multi-signature transactions and does not provide the ability to sign a standard single signature transaction offline. (Unless I'm missing something)

[2018-09-06 21:23] blahd opened #258 "Is it possible to generate and sign an offline standard single-signature transaction using NEO-gui?"
I see conflicting views on this and have not been able to determine a definitive answer.

Is it possible to sign a standard single-signature transaction using an offline version of NEO-gui and then relay this to the live blockchain using an online version of NEO-gui?

I see that some kind of support for multi-signatures was added in #162 but cannot for the life of me figure out how to do it for a

[2018-09-07 06:45] erikzhang commented on #258
I have reopened #4 for this feature.

[2018-09-07 06:45] #258 closed

[2018-09-07 06:51] blahd commented on #258
Great, thanks

[2018-09-15 11:41] sempiterna opened #259 "Error after updating to 2.9"
I just updated my Neo GUI (windows 10) to version 2.9, but i'm receiving the following error:

The 2.7.6 version was working without problems.

[2018-09-17 08:17] erikzhang commented on #259
https://github.com/neo-project/neo-gui/releases/tag/v2.9.0

I fixed this release and re-uploaded the file. Please try it again.

[2018-09-17 11:05] sempiterna commented on #259
I have the same problem using the new release (same error). However, when I extract it using winrar (instead of copy/paste using windows' native zip program) it somehow works. So this probably is not a Neo GUI problem, but more to do with the way it was zipped or how windows own unzip handles this file.

[2018-09-17 11:07] #259 closed

[2018-09-18 18:46] grishatataru commented on #165
Nobody?

[2018-09-18 18:53] jrsikors commented on #165
It's pretty simple and straightforward:
If you don't have the private key for the address, you don't own the coins anymore

That being said --
you mentioned NEON wallet ... this is for NEO-GUI.  If it was the NEON wallet, you will definitely want to move the issue to the NEON wallet team's page/issues.

I've made tons of transactions in both NEO-GUI and NEON, and never had issues.  What was the Tr

[2018-09-18 19:00] grishatataru commented on #165
<img width="1006" alt="screen shot 2018-09-18 at 12 58 54 pm" src="https://user-images.githubusercontent.com/39939426/45710033-b5f88980-bb42-11e8-968c-c04288777232.png">

How do i get in contact with NEON wallet team?

[2018-09-18 19:00] grishatataru commented on #165
d611ee0824d14ee633b08b2995890728a69a5b2a975981096367f4cccd7fafb7

[2018-09-18 19:03] jrsikors commented on #165
why did you send NEO to this address:
https://neotracker.io/address/AcWyPgfSVovTnE5rG6w3KNMCcoipjuDBxP

Did you not own AcWyPgfSVovTnE5rG6w3KNMCcoipjuDBxP ?

The NEON Wallet is developed by CityofZion:
https://github.com/CityOfZion/neon-wallet/issues/

[2018-09-18 19:05] grishatataru commented on #165
Thats the problem
I never sent ANYTHING
I own the AVjDZ7VVz7foeqFmdW2R5okbjr1pTEmEBs address and i have the private KEY to this address only
I never AUTHORIZED any Transactions

Do you mind checking this forum please?
https://github.com/CityOfZion/neon-wallet/issues/524

Ive been posting everything there

[2018-09-18 19:15] jrsikors commented on #165
Yeah I was looking at that actually thread in between my posts here..

It sounds like there's a bug between NEON and Ledger Nano.

You posted a screenshot of this address:
https://neotracker.io/address/AKJQMHma9MA8KK5M8iQg8ASeg3KZLsjwvB

That definitely looks like a 'hackers wallet' based on the fact that there's tons of transactions constantly going in.  If it's not a hacker's wallet, it's defini

[2018-09-19 10:49] GitGonzi opened #260 "Missing Balance using Ledger Nano S with newest OS - HELP WANTED"
Dear Developer & supporter,

...since update this version Neo GUI v2.9.0 no balance at all displayed, checked newest OS version, changed neo network, refreshing waiting long period but no change, tokens checked with web-neotracker are still there! - thanks for any help!

[2018-09-24 14:39] xxedocxx opened #261 "Deploy contract does not work in 2.9.0"
**Same avm file that I can deploy in Neo pyhon and previous Neo gui cannot deploy.**

<img width="493" alt="screen shot 2018-09-24 at 7 37 16 am" src="https://user-images.githubusercontent.com/6670368/45958694-f6398b00-bfcc-11e8-95cf-78b816906f0d.png">
<img width="493" alt="screen shot 2018-09-24 at 7 37 26 am" src="https://user-images.githubusercontent.com/6670368/45958695-f6d22180-bfcc-11e8-8bdf

[2018-09-25 06:39] erikzhang commented on #261
Fixed in https://github.com/neo-project/neo-gui/commit/4798a696f3f952af2ca69c605a33e28757e9a5f2

[2018-09-25 06:39] #261 closed

[2018-10-12 18:26] agchil commented on #20
I found the solution by placing the libleveldb in the corresponding folder (x86 and x64), at the height of the application.

[2018-10-21 03:47] pemila commented on #260
~~I also encountered the same problem~~

[2018-10-24 09:46] nicolegys opened #263 "There exists a 'main' method when invoking contract"
Select Invoke contract, then open an ABI file,  there exists a 'main' in Method.
This may mislead the users.

[2018-10-24 09:47] nicolegys commented on #263
<img width="302" alt="1" src="https://user-images.githubusercontent.com/43694095/47422277-d3a9b600-d7b4-11e8-87ae-6e2bb0091829.PNG">

[2018-10-24 10:07] nicolegys commented on #252
also on 2.9.0

[2018-10-25 08:51] erikzhang commented on #263
https://github.com/neo-project/neo-gui/blob/a6810512fc46dc42e99ea4d794e0eb3023a3240b/neo-gui/UI/InvokeContractDialog.cs#L177

The latest version has solved this problem.

[2018-10-25 08:51] #263 closed

[2018-10-25 23:32] translink opened #264 "gui throws runtime failure"
After running about ~15 minutes, neo-gui throws an error seemly related to leveldb. Does anyone have any idea?

NEO version: 2.9.6871
neo-gui: latest commit a6810512fc46dc42e99ea4d794e0eb3023a3240b
leveldb: latest commit a55f445b9cdbbefcdc823c52666efec0cca50ae2

Screenshot
![capture](https://user-images.githubusercontent.com/1287541/47536155-8ccec580-d873-11e8-9ed0-cb47d0dc6723.JPG)

[2018-10-26 07:55] shargon commented on #264
You need to copy libleveldb.dll https://github.com/neo-project/neo-gui/blob/master/README.md

[2018-10-27 05:55] translink commented on #264
I did copy libleveldb.dll otherwise neo-gui won't even launch.

On Fri, Oct 26, 2018 at 12:55 AM Shargon <notifications@github.com> wrote:

[2018-11-16 00:18] tristri opened #266 "unable to open neo gui 2.9"
after update to neo gui 2.9 unable to run neo gui
windows 10

error log
System.NotSupportedException
An attempt was made to load an assembly from a network location which would have caused the assembly to be sandboxed in previous versions of the .NET Framework. This release of the .NET Framework does not enable CAS policy by default, so this load may be dangerous. If this load is not intended to s

[2018-11-16 04:17] Bowserbash commented on #266
This is happening to me as well, from what I know it is the flavour of Windows that you are on, I am on Win 10 Enterprise 10.0.17134. DotNet is baked into the major Windows updates now, (4.7.2). I think the only way to 'revert' back to 4.7.1 is to tamper with the registry. That or can someone explain how to enable that flag 👍  loadFromRemoteSources

My error code as well...
System.NotSupportedExce

[2018-11-16 13:36] Sinepitiss commented on #251
@erikzhang  I think you can close this

[2018-11-18 07:55] JiniMaster commented on #266
for me, the following helped: just add
`<loadFromRemoteSources enabled="true"/>`
to your neo-gui.exe.config
right after the `<runtime>` tag, like:
[code]
...then restart neo-gui.exe!

[2018-11-18 17:12] tristri commented on #266
it works !! but is it safe to mess with config file ... ?

[2018-12-09 17:26] BowscoinBSC opened #268 "Neo GUI is not sync the new blocks"
Neo-GUI v2.9.0 is not sync new blocks nodes are also connected wallet open perfectly but block sync is not working

[2018-12-31 14:19] wizardofwhere1 opened #270 "Error log"
HI
I tried to install the neo-gui and the error log shows this: System.NotSupportedException An attempt was made to load an assembly from a network location which would have caused the assembly to be sandboxed in previous versions of the .NET Framework. This release of the .NET Framework does not enable CAS policy by default, so this load may be dangerous. If this load is not intended to sandbox t

[2018-12-31 16:25] wizardofwhere1 commented on #270
I think I figured it out https://github.com/neo-project/neo-gui/issues/259

[2019-01-03 21:22] balintus03 commented on #179
@jrsikors I have very similar problem that I have my .db3 file and I can't open it with the new NEON wallet and the NEO-Gui doesn't work either. What is the best way if you have the .db3 file and you want to convert into a .json file? Thanks for your help!

[2019-01-14 13:12] topannuity commented on #268
NEO version 2.7.6744, Height 2919042, Connected 16, Not updating blocks. I've tried for 3 days now, no movement. please help.

[2019-02-07 10:53] okayu8 opened #271 "The latest block of the test net is not synchronized."
Hello. I am not using it because I used the NEO-GUI(ver.2.7.6744.26727)
I downloaded the NEO-GUI and replaced the contents of protocol.js with protocol.testnet.json.
Then I ran the application.
At the moment test net is BEST BLOCK 2,295,074.
However, the value of 2089684 is displayed in the NEO - GUI that I am running, and the number does not rise any further.
Apparently it seems that the new bloc

[2019-02-08 08:18] okayu8 opened #272 "Deploy Contract does not work"
I tried to deploy contract.
I fulfilled all the items that required input, I set avm file and clicked Deploy button.

Invoke is not displayed on the screen after that.
Clicking the Test button will also pop up the following sentences.
`Excecution terminated in fault state.`

And Results shows the following.
[code]

Compiler's compatible setting failed regardless of whether it was true or false.

I

[2019-02-12 05:34] okayu8 commented on #272
Then I cloned the version of neo-gui with the latest version and used it, I was able to press the button of invoke.
(4572ec0d5bce0f1b4a59fc2e5cc3313a3ef3bcfb)

But a new problem occurred.

When clicking the test button at the time of deployment, the following is displayed as the result.

[code]

After that, when you click the invoke button, Transacton successful is displayed and items created in T

[2019-02-12 23:35] jsolman commented on #272
Please ensure it is including enough gas for the size of the transaction.

[2019-02-12 23:36] jsolman commented on #272
I have a PR out on neo-cli that has deploy contract support that includes enough gas.

[2019-02-13 04:41] erikzhang commented on #272
Hi @jsolman , https://github.com/neo-project/neo-cli/pull/273 has conflicts that need be resolved.

[2019-02-13 12:48] jsolman commented on #272
I’ll fix them soon.

[2019-02-19 21:30] jsolman commented on #272
@erikzhang conflicts were resolved for neo-project/neo-cli#273

[2019-02-28 11:43] okayu8 commented on #272
@jsolman Thank you, I will try this.

[2019-02-28 11:43] #272 closed

[2019-03-11 10:01] cayden opened #273 "部署合约出现合约执行遇到错误，并退出“”"
Hi,
  我在使用neo-gui 往我的私有链部署智能合约出现如图所示的异常
![avatar](https://github.com/cayden/tfdemo/blob/master/test.png?raw=true)

我的智能合约如下
`using Neo.SmartContract.Framework;
using Neo.SmartContract.Framework.Services.Neo;
using System;
using System.Numerics;

namespace NeoContract1
{
    public class Contract1 : SmartContract
    {
        public static bool Main(int a, bool b)
        {

            return b;

[2019-03-15 06:08] chenzhitong commented on #273
这是 neo-gui 的 Bug，目前发布智能合约会报错，跟私有链无关。

[2019-03-15 14:27] cayden commented on #273
嗯 非常感谢回复，后来我使用了neo-gui-develop版本，没问题了

[2019-03-26 02:51] devhawk opened #274 "Unable to deploy NEP5 sample smart contract"
I'm following the [NGD Quickstart](https://github.com/neo-ngd/NEO-Tutorial/blob/master/neo_docs_SmartContract_QuickStart/SmartContract_quickstart_en.md#developing-and-deploying-nep-5-contract). I've successfully set up a private chain, transferred the genesis NEO to a standard account, waited until that account has several thousand GAS and then claimed it. I copy/pasted the [NEP-5 code](https://gi

[2019-03-26 03:35] erikzhang commented on #274
Duplicate of #273

[2019-03-26 03:39] igormcoelho commented on #274
I'm confident this may be caused by not attaching enough `Network Fee` for your transaction (it is probably bigger than 1024 bytes). Please try a simple NEP-5 on https://neocompiler.io, it will fail if you not attach fee (then you can try again attaching fee and it works). For testing, just add 1 GAS, it should be enough.
P.S.: sorry but I don't know neo-gui interface very well... there should be

[2019-03-26 05:38] devhawk commented on #274
@igormcoelho I don't think it's an issue with fee since I had the issue w/ a hello world smart contract. NEP5.avm is over 2k , but the hello world .avm I tried was less than 100 bytes. And if there's a way to add GAS fee to a contract deployment in NEO CLI or NEO GUI, I don't see it

[2019-03-26 05:39] devhawk commented on #274
@erikzhang #273 suggests this is a NEO GUI issue, but I'm seeing the problem in NEO CLI as well.

[2019-03-26 10:29] Lichen9618 commented on #274
@devhawk
1. In "Invoke Contract dialog", your steps are correct.

2. About the contract cannot run successfully.
You can record the "Script Hash" from "deploy contract dialog".
And search it in "Function Invoke" of "Invoke Contract dialog"
If the information can be checked as you deploy, then contract is deployed on chain.
If not, it seems other the problem.  We need further information to check.

[2019-03-26 14:12] devhawk commented on #274
Good to know my steps are correct. Some of the docs are out of date, so it's sometimes hard to tell if I'm doing the right thing. Thanks @Lichen9618.

I built a very simple "negator" smart contract that simply NOTs and returns a boolean parameter. .avm file is only 31 bytes so it shouldn't hit the size limit @igormcoelho mentioned. I deployed it following my original steps and get the same "Execut

[2019-03-26 19:10] igormcoelho commented on #274
@devhawk I created a tutorial to help you (using your proposed problem). You can test on neocompiler.io platform until this issue is fixed on neo-gui: https://medium.com/neoresearch/neo-compiler-eco-example-3-negation-contract-c-9096f272e03d

[2019-03-27 04:05] Lichen9618 commented on #274
@devhawk
The code you provided can be deployed on my PC and neo-compiler successfully.
So we can confirm the contract code is correct.

Can you show me the Hex code auto generated after deploy contract, In "costume" tab?
This is transaction Hex code.
I can compare it with my own. To find the issue.

[2019-03-27 08:02] shargon commented on #274
The contract works as expected in our tests (local environment without gas neither chain):

![image](https://user-images.githubusercontent.com/3167973/55059282-d6b01780-506e-11e9-97a5-70dd406ea694.png)

Did you try it in `release` mode?

[2019-03-28 06:45] mistabowhunta commented on #259
@sempiterna I had the same issue unzipping with Windows native unzip program trying to unzip the latest v2.9.0. I then tried unzipping with 7-Zip and it worked. Thanks!

[2019-04-06 22:17] #257 closed

[2019-04-09 16:48] vncoelho commented on #295
Hi @KapilMayekar, I believe that this question has been solved, right?
Fell free to reopen here or in the neo-gui repo.

[2019-04-22 07:28] Edelbi1204 commented on #274
i am having the same issue, i have tried and follow all guides with no hop ...
the same contract has been complied and tested successfully on neocompiler.io but still getting the same error when trying to deploy the contract on my private development chain using neo-gui
shall we expect a clear clarification for the cause of this issue ..!!!

[2019-04-23 13:33] devhawk commented on #274
Sorry, for my delayed response. I got pulled away from this for a bit unavoidably.

@igormcoelho I will take a look at your article and the neocompiler.io website. Thanks!

@shargon When you ask if I tried it in release mode, it's not clear to me what you are referring to. Are you asking if I'm running release builds? Also, what tool is that in the screenshot you posted?

@Lichen9618, here is the

[2019-04-23 14:06] devhawk commented on #274
Based on the thread for #273 and @shargon's question about release, I tried running neo-gui from source. I got a completely different stream of hex values in the Invoke Contract dialog - though I now realize that might be because I didn't use exactly the same contract metadata values. But more importantly, it worked - I was able to go to the Function tab of the Invoke Contract dialog, search for t

[2019-04-23 14:19] devhawk commented on #274
FYI, I was able to take the original stream of hex info that didn't work with the currently shipping neo-gui from my earlier comment and copy/paste it into the custom tab of the Invoke Contract dialog, deploy it to my private chain and invoke it. (I reset the chain first so that I could be sure I wasn't interacting with an version of the contract I had deployed previously). So whatever is happenin

[2019-04-23 14:59] alibugra commented on #273
Hi,

Any neo-gui without bug to download?

[2019-04-30 09:12] federicamatteucci02 opened #275 "Can not transfer NEO from wallet. The asset drop down is empty"
How do i solve this problem?

- ASSET is empty

![Cattura](https://user-images.githubusercontent.com/49142827/56951720-d9ec6680-6b38-11e9-8e5b-9ca36e8b852e.PNG)

[2019-05-03 15:14] jmseigneur commented on #274
Same problem here after setting up a privatenet following https://docs.neo.org/en-us/network/private-chain/private-chain2.html I'm able to deploy a simple contract with NEO-GUI but not a more complex contract such as the one of the NEP5 example

[2019-05-05 07:33] steven1227 opened #276 "Add a tab/selection button to switch between MainNet and TestNet"
Currently, in NEO-Gui, if a user wants to switch between MainNet and TestNet, he has to configure the protocol json file manually. It is better to add a UI button that enables the user to switch the net in one-click.

[2019-05-12 01:27] raymanyoung opened #277 "wallet sync progress stuck at height 3506122"
I am using NEO-GUI 2.9.0. Downloaded the bootstrap data file (1st May). After about 24 hours the block data sync-ed to the latest height, and I was trying to open my wallet.
The sync of wallet data stuck at height 3506122. I have tried to rebuild the index, and delete the index folder but it repeated at same height, even I create a new address.

[2019-05-13 03:12] raymanyoung commented on #277
I deleted the chain data and re-synced. Now the problem is gone.
I recalled that in the middle of sync I tried to rename the offline-sync data filename (the file name downloaded is different from the documentation so I was not sure which one is the correct one). Maybe the chain data was corrupted at that time.

[2019-05-13 10:03] shargon commented on #277
Did you compare both files?

[2019-05-16 14:55] #275 closed

[2019-05-16 14:59] federicamatteucci02 opened #278 "execution terminated in fault state - the invoke button does not work"
Hi, can anyone tell me why I have this error?
![Cattura](https://user-images.githubusercontent.com/49142827/57864324-f86e8500-77fb-11e9-91f8-c53fabd609f5.PNG)

[2019-05-16 15:04] shargon commented on #278
Could you copy the script value as text? is not possible to help you without this information

[2019-05-16 15:08] federicamatteucci02 commented on #278
what you mean with the script value as text? this?
![Cattura2](https://user-images.githubusercontent.com/49142827/57865010-20aab380-77fd-11e9-9fbe-684adcce3fe7.PNG)

[2019-05-16 15:20] shargon commented on #278
Your script, in hexadecimal value.. `0b68...`

[2019-05-17 06:47] federicamatteucci02 commented on #278
this?
016101610161016101615102ff00004c5a53c56b6c766b00527ac46c766b51527ac4610548656c6c6f05576f726c64617c68164e656f2e53746f726167652e476574436f6e74657874680f4e656f2e53746f726167652e50757461516a52527ac46203006a52c3616c756668134e656f2e436f6e74726163742e437265617465

![Cattura6](https://user-images.githubusercontent.com/49142827/57908464-504ecf80-7880-11e9-82b8-0ad9fc7d3d03.PNG)

[2019-05-17 08:20] shargon commented on #278
Is a contract create?

[2019-05-17 08:25] shargon commented on #278
What did you put in your contract parameter list and contract return type? looks weird
![image](https://user-images.githubusercontent.com/3167973/57913967-0b319a00-788e-11e9-8119-e76ae71ee15d.png)

All information that you can provide, is useful for speed up the resolution of the issue.

[2019-05-17 08:33] federicamatteucci02 commented on #278
Hi, I'm not understanding what you're talking about!
I followed this guide (https://medium.com/coinmonks/neo-smart-contract-development-part-9-5c36b765014d) to create my first contract. When I get to the "Import the existing Developer account from the NEO privatenet Docker container" section I can't click "invoke". I HAVE CARRIED OUT THAT GUIDE STEP BY STEP.

[2019-05-17 08:39] shargon commented on #278
![image](https://user-images.githubusercontent.com/3167973/57914783-a5dea880-788f-11e9-8805-36e365442d7c.png)

this is wrong, you need to provide the same type as your smart contract, in your comment https://github.com/neo-project/neo-gui/issues/278#issuecomment-493107531 you show that your return is bool (`01`) and your parameter list string and array(`0510`)

acording to https://docs.neo.org/en-

[2019-05-17 09:18] federicamatteucci02 commented on #278
I tried to set the parameters but it always gives me the same error. I tried to modify the code

[code]

[2019-05-17 09:19] federicamatteucci02 commented on #278
I tried to set the parameters but it always gives me the same error. I tried to modify the code
 by removing the parameters but the error persists. I can't understand what's wrong!

using Neo.SmartContract.Framework;
using Neo.SmartContract.Framework.Services.Neo;
using System;
using System.Numerics;

namespace NeoContract1
{
    public class Contract1 : SmartContract
    {
        public static v

[2019-05-17 09:20] federicamatteucci02 commented on #278
I tried to set the parameters but it always gives me the same error. I tried to modify the code by removing the parameters but the error persists. I can't understand what's wrong!

[code]

[2019-05-20 16:59] hal0x2328 commented on #278
The bug causing the contract deployment to fail was fixed some time ago here: https://github.com/neo-project/neo-gui/commit/4798a696f3f952af2ca69c605a33e28757e9a5f2

The problem is there hasn't been a new release build since then.

[2019-05-20 17:01] hal0x2328 commented on #274
This was fixed here: https://github.com/neo-project/neo-gui/commit/4798a696f3f952af2ca69c605a33e28757e9a5f2

A new release is all that is needed now.

[2019-05-20 20:09] KapilMayekar commented on #295
Hello @vncoelho Unfortunately, this issue has not been resolved yet. I am still not able to recover my neo though it's still visible on the chain. In the meanwhile, I have tried to contact someone/anyone responsible at the NEO Council without success. I am willing to do whatever it takes in order to resolve this including travel to meet in person with all documentation and proof of ownership if th

[2019-05-20 20:40] Sinepitiss commented on #295
There is no "documentation" to prove that you are an owner of a address ( not that I know of) and even if you could, there is no entity that will transfer assets out of address to another, without knowing private key of said address.Even if Neo council wanted to,they would have to convince everyone on this platform to do so, else that would break block synchronization as that would be an illegal t

[2019-05-20 20:51] vncoelho commented on #295
Hi @KapilMayekar, how are you?  I will leave open until understanding completely. After that we see the best directions for your case.
Let's me summarize your issue to see if I understood correctly:

    * You created a wallet using neo-gui client;
    * Private key was not saved;
    * password is not working to enter in this wallet, right?

If that is correct, my suggestions are:
* Save the encr

[2019-05-21 19:28] KapilMayekar commented on #295
Thank you @vncoelho for your response - much appreciated. Yes, you have summarized the situation correctly from the earlier string - it is a neo-gui client wallet, the private key is not saved, and the password does not work. As I mentioned earlier, I am 100% certain of the password. It was used just a day before the wallet ceased to respond.

Also, the .dat file has been saved separately.

In ter

[2019-05-21 19:41] vncoelho commented on #295
I think that you should try to use the encrypted key in other wallet, such as Neon or O3.

it is unluckly that something changed your password and reencrypted your address, deleting the old encryptation.

[2019-05-24 01:47] JamesB1985 opened #279 "Block Height stuck, want to move funds to new wallet and claim GAS and ONT"
Can i please get help.... When using the neo-gui its stuck at block Height 2394985, I want to move funds to new wallet and claim the GAS and ONT..etc .....Can someone please help me or list steps required to take to resolve this issue. Thank you

[2019-05-31 10:33] MarianPole opened #280 "Old wallet file not working"
Last time i logged into my wallet was august 2017. I have a file for my neo wallet with the master key and encrypted key inside. I used to just login with this file.
Does someone know how I can get into my wallet with this?

[2019-05-31 17:13] shargon commented on #280
If you have any compatibility problem, you can use the client for this date, and extract the private key. you have all the releases in the release tab

[2019-06-01 18:41] noreen621 opened #281 "I find a bug in neo clint wallat"
Hi sir i find a bug in neo clint wallat i find it on web that is very bad for your coin i think if i tell u this then u should give me a rewad of neo coins please answer me for information of neo coin bug

[2019-06-01 23:22] shargon commented on #281
You can find the details of security bounties here https://neo.org/dev/bounty

[2019-06-01 23:22] #281 closed

[2019-06-01 23:54] vncoelho commented on #281
What the **** is this issue? kkkkkk heuaahhsheua jajaja
Man, people are insany...I did not understand nothing.

[2019-06-02 02:15] noreen621 commented on #281
The issue is this we know that neo has a separate  blockchain and ether has
a separate  blockchain but when we enter ether private key into neo wallat
the wallat  will be created .And the other blockchain like ether wallat
cannot open like this but neo wallat open in the ether private key but the
neo has a different  blockchain than ether but it open and create the ether
private key wallat but in

[2019-06-02 02:52] noreen621 commented on #281
Asset - What software asset the vulnerability is related to  Neo Clint wallat

Severity - Your opinion on the severity of the issue   high
Summary - Every blockchain is secure due to their own adressess and private keys but if some other private key in use your blockchain then the blockchain is not secure and this is dangerous for the neo smart economy
Description - The issue is this we know that

[2019-06-02 09:36] shargon commented on #281
try harder

[2019-06-02 11:49] noreen621 commented on #281
Why the ether key working in neo open wallat i dont know what is the reason behind this please check it and also try mew by using neo private key it will not work you should change the settings that just neo keys working  other key not open in your wallats

[2019-06-02 11:56] noreen621 commented on #281
I try harder for this if some one  tell u a thing about your coin then you should give them some reward then he find more things like this give me some reward for this
 AHumBLrnSVx6gVXDMGcktkDvWxzVokwdBm

[2019-06-02 13:03] vncoelho commented on #281
@noreen621, with all my respect, you should learn the basics of crypto and digital signatures.
Take some time to read on wikepedia or a specific book, you gonna thank us in the future.

Issues like this consumes our time. Please, avoid to open issues before getting familiarized with the concepts.
However, fell free to ask any question.

Closed.

[2019-06-05 09:57] nicolegys opened #282 "Better if I can choose a change address when claiming gas"
I claimed gas from a multisigaddress, then the gas appeared in my first standard address.

some neo in the multisigaddress:
<img width="679" alt="beforesend" src="https://user-images.githubusercontent.com/43694095/58947294-3424bb00-87ba-11e9-8c8e-78715bab0cdb.png">

make the gas available:
<img width="679" alt="beforeclaim" src="https://user-images.githubusercontent.com/43694095/58947302-38e96f00-

[2019-06-05 09:59] nicolegys opened #283 "Better if I can choose a from address for a transaction"
I hope I can choose which address the asset is sent from.
<img width="677" alt="sendfrom" src="https://user-images.githubusercontent.com/43694095/58947909-8d411e80-87bb-11e9-9eb4-64d6c7024e7a.png">

[2019-06-05 10:03] superboyiii commented on #282
Need improvement for product design. We'll do this soon.

[2019-06-12 06:52] Lichen9618 commented on #282
[https://github.com/Lichen9618/neo-gui/tree/Update](url)
I will try to enhance this feature

[2019-06-20 01:14] #271 closed

[2019-06-25 09:59] wanglongfei88 opened #286 "attach global asset when invoke a smart contract"
Currently, `invoke` smart contract in neo-gui does not support adding additional global asset (NEO or GAS). But there are scenarios that requires this function, such as ICO mintTotken, etc. There are projects like to use neo-gui to test their smart contracts during development process.

So, can we add this support to neo-gui ?

[2019-07-07 18:24] MaximePanta commented on #280
Hi guys @shargon @MarianPole ,
Hope you are doing great !
May I ask you how did you solve the issue with the neo wallet, as I have the exact same issue at the moment. When you could help me with this would be awesome !!!!

[2019-07-08 01:23] lock9 commented on #280
@MaximePanta  use this release: https://github.com/neo-project/neo-gui/releases/download/v2.0.2/neo-gui-windows.zip
But careful: this is an old version. Try to retrieve your keys and use a more updated version to perform transfers.

[2019-07-09 08:26] IprelProgetti opened #287 "Leveldb Assertion failed"
![Capture](https://user-images.githubusercontent.com/47773901/60872024-3b653b80-a234-11e9-9cd6-6b70f7944125.PNG)

While syncing neo-gui v.2.10.7123.28849 on the testnet, leveldb crashes with the attached error.

It seems to happen randomly, not on a specific block. In my case, it happened at block 404026.

Do you know how to solve that? Thanks.

[2019-07-09 12:58] federicamatteucci02 opened #288 "the synchronization blocks 0/0/0"
Hi, I have a problem! I tried the neo-gui, I executed all the steps correctly (changing protocol.json with protocol.testnet.json, config.json with config.testnet.json) I did the build etc ... When I try to launch my neo -gui, however, the blocks remain 0/0/0 and are not synchronized. can someone help me?

[2019-07-09 13:20] Thorgrlm opened #289 "Can I install neo-cli in Ubuntu 18.04?"
Hi, I have a raspberry Pi 3B and I think this device it's will perfect for to install the neo-cli but in the documentation I can see that work only in ubuntu 16.04, there are some way the install neo-cli in ubuntu 18.04?
thanks

[2019-07-09 13:32] vncoelho commented on #289
I believe it will work normally.
We have neocli running on ubuntu 18.04 docker images.

If you have any problem let us known.

[2019-07-10 09:06] Thorgrlm commented on #289
Hi, I can't make do work it in ubuntu 18.04, can you explain to me how did you fix it?
thanks

[2019-07-10 17:49] Thorgrlm commented on #289
hi, I think so I fix the issue.
1º Install package
sudo apt-get update
sudo apt-get install libleveldb-dev libleveldb1v5 libicu-dev sqlite3 libsqlite3-dev libunwind8-dev
sudo apt install apt-transport-https ca-certificates curl software-properties-common

2º install docker
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository "deb [arch=amd64] https:/

[2019-07-10 17:57] lock9 commented on #287
Hi @IprelProgetti,
Could you say the OS you are using?
Are you compiling from source or using a release (I didn't find a release with version 2.10)?
Do you know if this problem happens with the latest release? (2.9)

[2019-07-10 17:59] vncoelho commented on #289
We used to have it on https://github.com/NeoResearch/neocompiler-eco

If you want I can double check the old commits to see the dockerfile of Ubuntu 18.04 that use to run the neo-cli.

[2019-07-10 18:01] vncoelho commented on #289
When you find the solution, fell free to ask anything else or close the issue, @Thorgrlm.

Thanks for trying that!

[2019-07-11 06:35] IprelProgetti commented on #287
Hi @lock9 ,
I am using Win10 on a MacBook Pro via bootcamp.
I compiled the gui from the source code on the master branch.
The latest release (2.9) had the same problem on my laptop.

I think I have the same problem of #264

[2019-07-11 06:44] IprelProgetti commented on #264
Same problem for me (#287 )

- leveldb cloned from the master branch here -> https://github.com/erikzhang/leveldb (pretty old last commit actually)
- compiled from source as dll in both x64 and x86
- copied libleveldb.dll to /bin/Debug/x64 and /bin/Debug/x86 respectively.

Same outcome

[2019-07-12 00:16] lock9 commented on #287
Hi @IprelProgetti, we will take a look. I will close this one and update #264 instead. Thank you for reporting.

[2019-07-12 00:16] #287 closed

[2019-07-12 02:42] Lichen9618 commented on #264
@lock9
Issue was caused by leveldb, and from leveldb Github. I found the same issue.
And there is no way to reproduce the problem now.
link here: [https://github.com/google/leveldb/issues/40](url)

I will try to find some solution.

[2019-07-12 03:24] boy-good opened #290 "gui连接远程私链会异常"

[2019-07-12 03:27] boy-good commented on #290
![捕获](https://user-images.githubusercontent.com/39320533/61100241-fe00e800-a497-11e9-9804-69e385cd642d.PNG)

[2019-07-12 03:50] boy-good commented on #290
@erikzhang 是我的配置有问题还是呢，我现在在linux上运行私链，但不通过GUI的话不知道怎么获取到NEO代币

[2019-07-12 04:08] boy-good commented on #290
************** 异常文本 **************
System.ArgumentOutOfRangeException: “16”的值对于“Value”无效。“Value”应介于 'minimum' 和 'maximum' 之间。
参数名: Value
   在 System.Windows.Forms.ProgressBar.set_Value(Int32 value)
   在 Neo.UI.MainForm.timer1_Tick(Object sender, EventArgs e)
   在 System.Windows.Forms.Timer.OnTick(EventArgs e)
   在 System.Windows.Forms.Timer.TimerNativeWindow.WndProc(Message& m)
   在 System.Windows

[2019-07-12 08:50] boy-good commented on #290
@shargon hello, when i can use the Fixed version? or how to do Avoid appearing？

[2019-07-12 09:35] shargon commented on #290
If you are dev, you can compile this branch, but if not you need to wait for a release

[2019-07-13 06:07] lock9 commented on #264
@Lichen9618  this doesn't seem to affect neo-cli, why is that? 🤔 It is important for us to know that.

[2019-07-13 06:21] lock9 commented on #288
Hello @federicamatteucci02 ,
This looks like a network problem.
Can you check if you don't have firewall issues? What happens if you download the latest release and run it? Does it work?

[2019-07-16 03:29] Ashuaidehao commented on #241
Hello @jaydeeatechs , is this problem still happen? Did you try to run it using the last version?

[2019-07-16 03:36] Ashuaidehao commented on #244
Hi @yura-sutnuk ,  is this problem resolved?
If you just want to apply for test neo and gas , you can use https://neowish.ngd.network .

[2019-07-16 05:16] Ashuaidehao commented on #247
Hi @birmas , is this problem still troubling you?
When the gui invokes contract for test, it would not add the witnesses.
So in your contract ,"Runtime.CheckWitness" fails then the contract terminates with the wrong gas consume .

[2019-07-16 05:22] Ashuaidehao commented on #250
@lock9  can we close this issue?

[2019-07-16 05:31] Ashuaidehao commented on #251
@lock9 can you help close this issue?

[2019-07-16 05:35] #251 closed

[2019-07-16 05:38] Ashuaidehao commented on #253
Hello @aaroncatalano , does the video resolve the your problems?

[2019-07-16 05:40] #250 closed

[2019-07-16 05:43] Ashuaidehao commented on #252
Hi @Sinepitiss  , is this problem still happen? Did you try to run it using the last version?

[2019-07-16 05:45] Ashuaidehao commented on #260
Hello @GitGonzi , is this problem still happen? Did you try to run it using the last version?

[2019-07-16 06:28] Ashuaidehao commented on #270
@lock9 could you help close this issue? Seems it was resolved.

[2019-07-16 06:40] Ashuaidehao commented on #268
Hi @BowscoinBSC @topannuity , do you still trouble in this problem?

[2019-07-16 06:46] Ashuaidehao commented on #273
@lock9 this issue can be closed.

[2019-07-16 06:50] Ashuaidehao commented on #274
@lock9 this issue was resolved and can be closed.

[2019-07-16 06:57] Ashuaidehao commented on #277
Hi @raymanyoung ,is this problem resolved?

[2019-07-16 07:03] Ashuaidehao commented on #279
@JamesB1985 ,is this problem still happen?
Did you try to full resync blocks using quick sync method(https://docs.neo.org/en-us/network/syncblocks.html)?

[2019-07-16 07:07] Ashuaidehao commented on #278
Hi  @federicamatteucci02 ,is this problem still happen using the last gui version?

[2019-07-16 07:54] Ashuaidehao commented on #290
@boy-good 可以发下你搭建私链时配置的出块时间间隔吗？在protocol.json里的SecondsPerBlock的值。这个值目前不建议超过15，否则容易触发一个winform的UI控件的异常。
gui短时间内不会release新版，你可以用上面提到的分支签出代码本地编译一个不报错的版本出来。

[2019-07-16 08:11] shargon commented on #270
Solved

[2019-07-16 08:11] #270 closed

[2019-07-16 08:12] shargon commented on #273
Feel free to open if is not solved

[2019-07-16 08:12] #273 closed

[2019-07-16 08:13] shargon commented on #277
Closed because we have no answer since May.

[2019-07-16 08:13] #277 closed

[2019-07-16 08:28] shargon commented on #274
Closed because is solved

[2019-07-16 08:28] #274 closed

[2019-07-16 09:12] Ashuaidehao commented on #123
Hi @lock9 ,is there any plan to this issue in NEO3 ?

[2019-07-16 09:14] Ashuaidehao commented on #128
Hi @Ray-77 , is this problem resovled in the last release version?

[2019-07-16 09:30] Ashuaidehao commented on #163
Hi @snowypowers , can this issue be closed? Seems you have found an alternative wallet.

[2019-07-16 09:33] Ashuaidehao commented on #166
Hi @lock9, this issue was resolved and can be closed.

[2019-07-16 09:41] Ashuaidehao commented on #172
Hi @gitbrook ,  is this problem still happen? Did you try to run it using the last version?

[2019-07-16 09:44] Ashuaidehao commented on #174
Hi @lock9 ,  is there any plan to fix the bug?

[2019-07-16 10:02] Ashuaidehao commented on #177
Hi @lock9 ,the url is a dead link now, do we have plans to improve it?

[2019-07-16 10:07] Ashuaidehao commented on #222
Hi @katzky, is this problem still happen? Did you try to run it using the last version?

[2019-07-16 10:09] Ashuaidehao commented on #228
@wangschang 用最新版的gui还会报这个错吗？

[2019-07-16 10:11] Ashuaidehao commented on #231
Hi @Seahorst , is this problem still happen? Did you try to run it using the last version?

[2019-07-16 10:14] Ashuaidehao commented on #233
Hi @neotokens, does the link resolve your problems?

[2019-07-16 11:07] topannuity commented on #268
Okay right now. I downloaded the archived patch and after unpacking for 3 days everything works now as long as I open neo-gui at least once a day. Problem happens when I don’t update for a week or more then it won’t update even though I’m connected with 10+ connections.

From: Shine Li
Sent: Tuesday, July 16, 2019 2:40 AM
To: neo-project/neo-gui
Cc: topannuity ; Mention
Subject: Re: [neo-project/n

[2019-07-16 14:13] shargon commented on #233
Closed because @neotokens has not answered since May 2018

[2019-07-16 14:13] #233 closed

[2019-07-16 14:38] #290 closed

[2019-07-16 17:59] lock9 commented on #247
There is a PR in neo-cli that would allow us to have CheckWitness in RPC endpoints. I think this is a critical issue, however, we don't plan to add new features to neo 2.

[2019-07-17 01:35] boy-good commented on #290
确实是因为我的出块时间设置超过了15秒导致的。

[2019-07-17 01:36] JamesB1985 commented on #279
Yes still a problem so I just used the neon wallet  to gain access to my wallet instead

Sent from my iPhone

On 16 Jul 2019, at 5:01 pm, Shine Li <notifications@github.com<mailto:notifications@github.com>> wrote:

@JamesB1985<https://github.com/JamesB1985> ,is this problem still happen?
Did you try to full resync blocks using quick sync method(https://docs.neo.org/en-us/network/syncblocks.html)?

[2019-07-17 01:45] lock9 commented on #123
Hello,
@Ashuaidehao  this is planned in next neo-gui version, it doesn't influence much neo 3 - it seems more like a 'usability issue' rather than a protocol problem.
So, "it will be fixed", but it doesn't relate to neo 3.

[2019-07-17 01:55] #166 closed

[2019-07-17 01:56] lock9 commented on #174
Since this is not critical, it will only be fixed in next neo-gui release.
Sorry for the inconvenience!

[2019-07-17 01:56] #174 closed

[2019-07-17 01:59] lock9 commented on #177
@Ashuaidehao  this is very important, this causes a really bad use experience, and has a very low "cost to fix".
Any chances you guys could make a PR to remove this load? If the url is dead, there is no sense  to keep this load.

[2019-07-17 02:03] lock9 commented on #268
I'm very sorry to inform that this won't be fixed now, only in our next neo-gui version.
We are sorry for the problems caused @topannuity, but we are focused in NEO 3 and won't be able to fix this in the next weeks.
Thank you for understanding, I have to close this because it won't be fixed 😢

[2019-07-17 02:03] #268 closed

[2019-07-17 02:20] Ashuaidehao commented on #235
@HuJinguang 这个问题现在还有吗？

[2019-07-17 02:26] Ashuaidehao commented on #266
@lock9 can you help to close this issue?

[2019-07-17 02:59] Ashuaidehao commented on #177
Hi @erikzhang , is there someone who maintain the “update.xml” file?
If no one maintains it, maybe we should remove these useless code.

[2019-07-17 03:27] #266 closed

[2019-07-17 07:59] Ashuaidehao commented on #182
Hi @lock9, do we have plans with this issue in NEO3?

[2019-07-17 09:32] erikzhang commented on #177
No one is currently maintaining this file. But maybe we can put this file on Github so that any core developer can maintain it.

[2019-07-17 18:06] lock9 commented on #182
Hello,
@superbmilkyway what exactly do you want to do with this prune mode?
If you have disk space restrictions, consider using a light wallet like Neon or O3.

[2019-07-17 18:25] #177 closed

[2019-07-18 04:04] #163 closed

[2019-07-18 19:15] #182 closed

[2019-07-22 18:59] lock9 commented on #288
Hi @federicamatteucci02, I'm closing this issue due to inactivity.
If you still have problems, please create a new issue or reach me in discord.
Thanks.

[2019-07-22 18:59] #288 closed

[2019-08-02 07:00] Ashuaidehao commented on #128
Hi @Ray-77，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:08] Ashuaidehao commented on #172
Hi @gitbrook，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:09] Ashuaidehao commented on #222
Hi @katzky ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:20] Ashuaidehao commented on #228
@wangschang 我们这边会关闭长期不活跃的issue，如果你的问题还没解决的话，欢迎重新打开这个issue联系我们，谢谢。
@lock9 can you help to close this ,thanks!

[2019-08-02 07:23] Ashuaidehao commented on #231
Hi  @Seahorst ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:29] Ashuaidehao commented on #239
@ly745455 , 对文档的改进建议请到（https://github.com/neo-project/docs）仓库下提issue，我们这边评估后会加进后续的文档中，这里的issue先关掉了，谢谢！
@lock9 can you help to close this ,thanks!

[2019-08-02 07:32] Ashuaidehao commented on #240
Hi  @Crypt0Bro，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:33] Ashuaidehao commented on #244
Hi  @yura-sutnuk ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:36] Ashuaidehao commented on #241
Hi  @jaydeeatechs ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:38] Ashuaidehao commented on #235
@HuJinguang ，我们这边正在关闭长期不活跃的issue，如果你的问题还没解决的话，欢迎重新打开这个issue，谢谢！
@lock9 can you help to close this ,thanks!

[2019-08-02 07:39] Ashuaidehao commented on #253
Hi  @aaroncatalano ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:39] Ashuaidehao commented on #260
Hi  @GitGonzi ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:41] Ashuaidehao commented on #278
Hi  @federicamatteucci02 ，we're planning to close this issue due to inactivity.
If you still have problems, please reopen this issue or create a new one.
@lock9 can you help to close this ,thanks!

[2019-08-02 07:43] #282 closed

[2019-08-02 07:44] #283 closed

[2019-08-02 08:02] #244 closed

[2019-08-02 08:02] #239 closed

[2019-08-02 08:03] #241 closed

[2019-08-02 08:03] #172 closed

[2019-08-02 08:03] #128 closed

[2019-08-02 08:03] #253 closed

[2019-08-02 08:03] #260 closed

[2019-08-02 08:03] #278 closed

[2019-08-02 08:03] #240 closed

[2019-08-02 08:03] #235 closed

[2019-08-02 08:05] #222 closed

[2019-08-02 08:05] #228 closed

[2019-08-02 08:05] #231 closed

[2019-08-16 06:58] cchpan opened #298 "Help! Neo-Gui invoke Contract fail!!!"
neo-gui version:2.9:
https://github.com/neo-project/neo-gui/releases

operation step:
https://docs.neo.org/docs/zh-cn/sc/gettingstarted/develop.html

[2019-08-18 10:23] nachtmens commented on #219
After a long time I decided to pay attention  to my stacked Neo's.
So I downloaded the NEO-GUI 2.7. Indeed I did run into the problems as described in jrsikors comments
refering to A),B), C) and D). After a (indeed) frustrating proces I got the NEO-Gui syncing.
At the first attempt got stuck around about block height 3203303 or something close. At the second
attempt got stuck at Block height 37730

[2019-08-18 11:23] nachtmens opened #300 "Synchronizing problem NEO-GUI still persistent. No matter what I tried."
After a long time I decided to pay attention to my stacked Neo's.
So I downloaded the NEO-GUI 2.7. Indeed I did run into the problems as described in jrsikors comments #219 refering to A),B), C) and D). After a (indeed) frustrating proces I got the NEO-Gui syncing.
At the first attempt got stuck around about block height 3203303 or something close. At the second
attempt got stuck at Block height 3

[2019-08-20 10:39] nachtmens commented on #300
Update;
I made another attempt, and this time it seems with succes. I did not start all over again by reinstalling Neo-GUI or replacing the rootfolder . The Neo-Gui keeps up now pretty good with displaying the pace of new blocks, and the wallet blockchain sync is catching up, now at about 60 percent at time of writing. I removed the Chain_xxxx folder, started the sync proces again. Did not replace

[2019-08-20 16:32] shargon commented on #300
Maybe we should ban the hashes of the previous forks that could stuck a new node?

[2019-08-20 18:13] nachtmens commented on #300
Ah, I see.
 No, what I mean is de _quality_ of the Neo Blockcain in _particular_ as it is now.
I did not expirience this problem with some other crypto's that I favor as much too.

[2019-08-20 18:33] shargon commented on #300
It could be related to https://github.com/neo-project/neo/issues/924 ?

[2019-08-20 19:23] nachtmens commented on #300
Just took a look at  [neo-project/neo#924](https://github.com/neo-project/neo/issues/924) .
I think yes. Maybe funny, it took me also three times.

[2019-09-11 02:08] liuyuduen opened #301 "打开钱包失败，提示缺少依赖项"
未能加载文件或程序集“Replicon.Cryptography.SCrypt.MMA.dll”或它的某一个依赖项。找不到指定的模块。
neo-gui根目录 只有Replicon.Cryptography.SCrypt.dll
没有Replicon.Cryptography.SCrypt.MMA.dll
下载源码重新编译也没有 怎么解决

[2019-09-17 08:33] longfeiWan9 commented on #298
Can you please try the new GUI 2.10.3 ?

[2019-09-17 09:04] wanglongfei88 opened #302 "NEO3 neo-gui : which UI framework should we use?"
Based on our discussion during the Community Assembly in Shanghai, we have reach the consensus about few things for neo-gui. And we also left some points to discuss further here on Github.

**Things we have all agreed:**

- **Targeted Users**:  mainly developers & BlockChain purist
- neo-gui need to be **cross-platform**
- neo-gui should have **all functions as neo-cli**, and being updated along w

[2019-09-17 09:30] lightszero commented on #302
we can mix neogui and neocli together
maybe can open gui with "neocli --withgui"
or in neocli cmdline type "show gui"

I try to write something with electron
https://github.com/lightszero/webwindow.netcore

[2019-09-17 09:30] steven1227 commented on #302
Vote for Electron

[2019-09-17 12:32] shargon commented on #302
Vote for wait until official MS framework

[2019-09-18 06:02] erikzhang commented on #302
Mix GUI and CLI is a good direction. We can wait for .NET Core 3.0.

[2019-09-18 06:10] wanglongfei88 commented on #302
I think Blockchain users who strongly care about privacy & safety, want to owner their own data, such as wallet keys, etc. who only trust wallets or client that they can control.

[2019-09-18 06:12] wanglongfei88 commented on #302
@erikzhang @lightszero this is a very interesting proposal. We will look more into the repo.

[2019-09-19 00:30] lock9 commented on #302
Hi @wanglongfei88, I think that what we had agreed is that neo-gui should have all neo features, to be used as a reference implementation of the possible things you can do in the platform.

Note: I'm often mistaken

[2019-09-23 02:37] lock9 commented on #302
@erikzhang @shargon  .NET Core 3 won't support cross-platform UIs
https://devblogs.microsoft.com/dotnet/net-core-3-and-support-for-windows-desktop-applications/

They will support WPF, on Windows only 😂

[2019-09-23 03:23] lock9 opened #303 "Wireframes for Neo Gui"
Hi,
We are planning to make a new Neo Gui, and for that, we need wireframes.
Usually, I have a list of features to build the wireframes on top of it, but if we build this internally, we may do this without that.
I think once we agree on the interface, we can move to the implementation.

This can be started now, we don't have to wait for #302

[2019-09-23 20:39] devhawk commented on #302
I strongly suspect that Xamarin Forms will be Microsoft's long term, cross platform UI story. Just as .NET Core 3.0 had a strong focus on enabling Windows Client apps running on .NET Framework via WPF and WinForms to move to .NET Core, I suspect .NET 5 will have a strong focus on enabling managed Mobile apps running on Mono via Xamarin to move to .NET Core. That way, when .NET 5 ships, MSFT will b

[2019-10-11 12:02] ravetroll opened #304 "Import WIF private key"
I can't seem to find a way to convert my private key into a WIF format private key that is compatible to be imported into NEO GUI 'Import from WIF'.  At least that is what I think I need to do, perhaps I misunderstand?

[2019-10-14 07:27] erikzhang commented on #304
Right click an address, then click `Show private key`.

[2019-10-14 08:05] ravetroll commented on #304
You can see that for an address already imported.  I could import a 'Watch-Only Address' using just the address.  How can I import other 'Standard Account' using 'Import from WIF' if I don't know the WIF of that other account, only the private key?

[2019-10-15 10:06] longfeiWan9 commented on #304
Do you still have your wallet json file ?

[2019-10-17 11:20] ravetroll commented on #304
I have a wallet.json file set up for an address.  I created another address via neotracker.io and I want to see that in the client

[2019-10-21 03:59] joeqian10 opened #305 "Creating transactions with same hash and no signature"
Some exchanges and some developers have reported this issue: when they invoke the same method in the same smart contract multiple times and neo-gui create invocation transactions under 10 gas free limit, these transactions will have the same hash and have no signatures, which causes these txs are never confirmed.

A temporary solution I provided to them is adding the timestamp and the first addres

[2019-10-21 06:10] shargon commented on #305
No different Inputs? SmartContract transactions?

[2019-10-21 10:33] longfeiWan9 commented on #305
There are two issues:
+ **Add an nonce attribute when creating tx**
there is no nonce for transaction for NEO 2.x. So when projects uses neo-gui to invoke smart contract transactions for the same params without inputs. Only the first transaction will be accepted. So we need to add a timestamp as nonce to distinguish them.

+ **Add signature when there is no input for certain tx**
Currently, gui do

[2019-10-21 10:46] longfeiWan9 commented on #304
The private key you can get from neotracker.io is already WIF format. You can directly use to import from neo-gui with an opened wallet.

Then you address will be imported into the opened wallet

[2019-10-21 10:48] wanglongfei88 commented on #303
@lock9 we can start it when we are discussing the UI framework. :)

[2019-10-21 10:53] longfeiWan9 commented on #279
@lock9 I think we might be able to close this issue, right ?

[2019-10-21 11:08] wanglongfei88 opened #306 "Data convertor support"
**Current situation**:

we use a ByteArraya as return type for neo-gui, RPC request, neo-cli, etc. But ByteArray is not human readable. Users are always looking for a tool to be able to convert ByteArray to different data format, such as string, number, etc. For example:
 + ByteArray; `7472616e73666572`
 + String: `transfer`

**Proposal**

+ can we add data convertor support in neo-gui ?
+ such as

[2019-10-21 11:27] #279 closed

[2019-10-22 05:53] wanglongfei88 commented on #302
We are going to do some research on some of recommend UI frameworks and hopefully will have a thorough compare among them early next week. We will compare the following:
+ Electron
+ Avalonia
+ Xamarin Forms
+ uno platform

[2019-10-22 09:28] shargon commented on #302
@wanglongfei88 Are all of these multiplatform?

[2019-10-22 09:45] wanglongfei88 commented on #302
@shargon they are. But some of them only support limited platforms. We will deliver a comparison report soon .

[2019-10-22 10:49] lock9 commented on #303
Hi! I'm working on it @wanglongfei88. Thanks

[2019-10-23 08:27] ravetroll commented on #304
Thankyou I now get it.  The private key you use in Neotracker.io to open your wallet is different to the private key you see displayed in neotracker.io once you have opened the wallet in neotracker.io.  What is the difference between those as they both seem to be called the private key but they are different.  The one I was using before was the one that required a password to open the wallet, so p

[2019-10-23 12:39] shargon commented on #305
There was, but only for transfers https://github.com/neo-project/neo/pull/1184/files#diff-3f891451d2176ac40781e3bde8ad50c2L350-L352

[2019-10-23 12:40] shargon commented on #305
@joeqian10 Please test https://github.com/neo-project/neo/pull/1184 for the first issue

[2019-10-23 13:44] shargon commented on #306
we can detect if it is an ascii byte array, and show it as string

[2019-10-25 07:32] wanglongfei88 commented on #306
I am thinking to provide a extra function or tool in neo-gui to support those conversion so that developers can use it when they need to convert a return data from neo which is not only from neo-gui, but neo-cli, or RPC request.

[2019-10-25 08:22] longfeiWan9 commented on #304
@ravetroll Normally, private key is not encrypted, and it could be used to open a wallet directly. I think the one you used along with password to open a wallet is encrypted key (PrivateKey +password). And wif is the encoded private key. For example:
+ Private Key (hexstring): `c7134d6fd8e73d819e82755c64c93788d8db0961929e025a53363c4cc02a6962`
+ WIF: `L3tgppXLgdaeqSGSFw1Go3skBiy8vQAM7YMXvTHsKQtE16P

[2019-10-25 11:59] VVanaheim commented on #301
换个稳定好用的钱包吧，优盾钱包就挺好用的，有个人版本和交易所版本

[2019-10-28 03:44] wanglongfei88 commented on #302
![neo-gui](https://user-images.githubusercontent.com/34025001/67650221-1c232300-f977-11e9-9668-1f291e35c9cd.png)

We have done some research about the proposed UI framwork. Overall,
- Xamarin and Uno are not good options for cross platform PC application.
- Avalonia & Electron are better options
   - Avalonia has the advantage of C# for both front and back end.
   - Electron is more mature and bet

[2019-10-28 04:04] lock9 commented on #302
I think we can use Avalonia. What was the problem with Xamarin? It may need some tweaks sometimes.
I’m not in favor of using electron because we need an implementation using the neo library. I also don’t like the idea to expose the wallet using RPC because this may allow any application in the host to steal user funds.

[2019-10-28 08:26] shargon commented on #302
Avalonia ++

[2019-10-29 19:19] devhawk commented on #302
Thanks for the research @wanglongfei88!

I still think Xamarin Forms is the best choice because of official MSFT support. But I don't have that strong an opinion - I avoid any kind of UI development if I can help it. So I'd be fine with Avalonia

[2019-10-30 09:05] Ashuaidehao commented on #302
https://github.com/xamarin/Xamarin.Forms/wiki/Platform-Support
As far as I know, the Xamarin Linux and WPF what we required to develop PC applications, were supported by community not MS.  So whether Xamarin or Avalonia is same for us now.

[2019-11-01 11:38] #304 closed

[2019-11-01 17:42] devhawk commented on #302
Microsoft is [decoupling their WinUI stack](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md#winui-3) - i.e. the native XAML stack in Windows - from the UWP SDK. Alpha release [arrives next week](https://twitter.com/gcaughey/status/1189575645048774656).

I suspect this means that the long term Xamarin Forms story on Windows will be WinUI for desktop and UWP apps. It proba

[2019-11-05 05:29] shargon commented on #305
@joeqian10 any news?

[2019-11-05 05:51] joeqian10 commented on #305
@shargon The first issue has been fixed.

[2019-11-05 09:13] wanglongfei88 commented on #303
@lock9 Any progress?

[2019-11-05 09:45] wanglongfei88 commented on #302
Avalonia+

We also think Avalonia will be a good fit for neo-gui and the whole tech stack with C# node as back-end.

If we choose Electron, JS front end will need to communicate with node via RPC which makes no different with other wallet like O3 and neon. And it is NOT a full node with User Interface as we would like it to be.

[2019-11-06 04:28] lightszero commented on #302
## Point 1:

Avalonia is too young choose it will be dangerous。

Electron is used in many project.

we have no need to use rpc,we can make a specpipeline for communicate,like websocket.

and here is a sample:
https://github.com/lightszero/webwindow.netcore

## Point  2:

Html is a good ui solution.

Avalonia is like wpf,it is good too,but avalonia do not have good toolkit for edit it.

## Point 3:

[2019-11-07 00:45] lock9 commented on #303
Yes @wanglongfei88: https://xd.adobe.com/view/433a454e-c57b-4475-6d7f-5d7d3c7739e3-350b/
I believe we are only 30% to 40% done, we need more iterations and the team is still learning how Neo works.
Feel free to give any feedback, we still need some iterations to make it good.
Thanks

[2019-11-07 01:52] wanglongfei88 commented on #303
@lock9, the wireframe looks great for me. The one question for me is that should we add blockchain explorer support into neo-gui as well ?

[2019-11-07 02:05] lock9 commented on #303
@wanglongfei88  the user must be able to explore local data

[2019-11-07 02:25] wanglongfei88 commented on #303
I agree that we should not add additional database for viewing info.

Rick, please keep us updated about the UI wireframe? At the same time, we are discussing the UI framework in another PR. After talking with lightszero, we decided to try to develop a simple application using Avalonia and Electron for testing purpose. And then choose the UI framework with better development support and experience

[2019-11-07 03:19] lock9 commented on #302
Hi @lightszero,
I really think we should use only C#, I think the most basic requirement is to make it a use case reference for neo.

Xamarin may be good because:
- More mature;
- Mobile compatibility;
- Microsoft seems to be friendly with us ;
- It is open source too so we can fix problems;

Avalonia is good because:
- '100%' open source;
- It works on all platforms (I have used it in the past fo

[2019-11-07 05:34] lock9 commented on #303
Sure @wanglongfei88 , I feature list and plan is needed for it. I will update you with more information later this week.

[2019-11-07 05:55] wanglongfei88 commented on #303
![NEO-GUI](https://user-images.githubusercontent.com/34025001/68363420-bfd5b580-0165-11ea-813e-dd170a859a84.png)

@lock9 , Rick, this is the feature list that we created based on the functions of Neo3. Please use it as a reference when your team is creating the wireframe so that we do not have too much divergence. Hopefully it will be very helpful. Please let me know if there is any thing we need

[2019-11-07 05:56] lock9 commented on #303
That will definitely help a lot, thank you!

[2019-11-07 06:00] Ashuaidehao commented on #302
Hi @lock9,
Xamarin only runs at windows or mobile platforms now. I think the PC users are neo-gui's majority purpose, so we need choose a PC friendly tech where Xamarin is not good for it.
As discussed before, I think Avalonia is the most feasible choice with C# for the moment, Electron is the best choice without C#.

[2019-11-07 06:01] lock9 commented on #302
@Ashuaidehao  lets go with Avalonia them, it is ok for me

[2019-11-08 03:22] lock9 commented on #303
Hi @wanglongfei88, this is the raw feature list, I didn't evaluate with my colleague if everything will be included, there are topics that we don't even have inside neo yet. There are topics that are neo 2 only (neo fs).
Your feedback is appreciated. Thanks.

Neo GUI
	Wallet
		Accounts
			Export
				NEP-2
			Import
				Wif
				NEP-2
				Read-only
			Create
				Single Signature
				Multiple Signatu

[2019-11-12 06:00] wanglongfei88 commented on #303
@lock9 Hi, Rick. I like the feature list. They are a lot of useful functions for neo3 gui. My concern is that this feature is too comprehensive and forward-looking. For example, state channel, ZK, Oracle and FS node will not be ready at first stage.

Maybe we should start with feature plan for the 1st version of neo-gui.  And then slowly adding new features into it when those features are ready in

[2019-11-12 06:17] Lichen9618 commented on #302
After discussion with @lightszero @wanglongfei88 @Ashuaidehao
We have developed two simple demos with Electron and Avalonia,
here is experience for your reference:

- 	Electron
          **Advantage:**
             1.UI is much easier to implement and maintain
             2.Mature framework & abundant UI elements and references
             3.Front-end and back-end development can go parallelly

[2019-11-15 02:08] longfeiWan9 commented on #305
hi, @shargon . Thank you for fixing the first issue.

Recently, I have got some projects who is asking why invoking smart contract in neo-gui will not work. It is related to the second issue that Joe mentioned. I think it is necessary to fix this issue so that developers can use neo-gui properly.

Probably @Lichen9618 can help to fix it and submit a PR.

[2019-11-27 03:52] Lichen9618 opened #308 "Current Neo3 Gui Overall Design"
#303 #302
From above discussion, some targets have been confirmed:

- Gui should be cross-platform

- Back end need to be updated to Neo3 and full function support

- UI/UX  and user's experience improvement.

With the release of Neo3 preview1, now we should start development of Neo3-Gui and complete it when Neo3 stable version released.

We have completed design documentation and feature lists fo

[2019-11-27 06:11] Lichen9618 commented on #308
### **Brief system architecture**
![system architecture](https://user-images.githubusercontent.com/48947753/69698057-36d7eb80-111f-11ea-8372-bd0afe58868c.png)

[2019-11-29 02:27] lightszero commented on #308
最近我想了一下，这样使用两个进程的开发确实比一个进程麻烦一些
我建议我们可以再评估一下像CefGlue这样，把Chromium Embedded的方式。
这样前端表现是html，应该可以用c#直接操作DOM

[2019-12-03 02:43] longfeiWan9 commented on #300
Thanks, @shargon .

Hi, @lock9 I think we can close this issue since it is related to a temp fork.

[2019-12-03 03:26] #300 closed

[2019-12-03 09:12] Ashuaidehao commented on #308
这个框架文档资料太少了，而且代码库很久没有更新了，用C#直接调用JS对我们而言也不是必须的，目前来看Electron更加成熟些，我们这边更倾向于更加成熟可靠的解决方案

[2019-12-04 03:22] #18 closed

[2019-12-04 03:23] #55 closed

[2019-12-04 03:24] #120 closed

[2019-12-04 03:25] #122 closed

[2019-12-04 03:26] #219 closed

[2019-12-04 03:27] #232 closed

[2019-12-04 03:27] #247 closed

[2019-12-04 03:27] #252 closed

[2019-12-04 03:30] #280 closed

[2019-12-04 03:30] #286 closed

[2019-12-04 03:31] #295 closed

[2019-12-04 03:31] #298 closed

[2019-12-04 03:31] #301 closed

[2019-12-25 03:39] Qiao-Jin opened #310 "Duplicate smart contract call is not supported"
Currently in GUI, duplicate smart contract call is not supported. This is because transactions created by InvokeContractDialog don't include a "random data" attribute like [`here`](https://github.com/neo-project/neo/blob/44e7f3b715aedcef10f2cfb369ccca3ee0a5bcd2/src/neo/Wallets/Wallet.cs#L309). But sometimes duplicate content call is indeed needed.

[2020-02-04 16:38] jaydeeatechs commented on #241
Hi Shine, i hope you and your family are safe and well.

Do you know how to bootstrap while assuring the keys are not lost in the process? I was too concerned i might mess up and so did nothing. If you have a published procedure, could you send it? Do you need my wallet version # to do so?

Thanks you. Take care.

Sent via mobile

[2020-04-27 06:57] #305 closed

[2020-11-17 20:48] falroman opened #317 "Error opening db3 file"
Hi

I'm getting this error when trying to open a .db3 file I've created 3 years ago.

Zie het einde van dit bericht voor meer informatie over het aanroepen
van JIT-foutopsporing (Just In Time) in plaats van dit dialoogvenster.

************** Tekst van uitzondering **************
System.FormatException: Een van de geïdentificeerde items heeft een ongeldige indeling.
   bij Neo.IO.Json.JObject.Pars

[2020-12-27 17:34] jaydeeatechs opened #318 "neo-gui v 2.3.6458.21374 hasn't sync'd for years"
Hi, I'm not sure how to bootstrap  and/or change settings to sync with a(nother) network.  I'm not particularly technical.  The wallet hasn't sync'd since block 2394985 and the total blocks hasn't changed since 4224778.  I read over the guidance I could find on github and reddit/r/neo but nothing quite seemed to match what I see on my version, so I was reluctant to try and fix it, fearing I would

[2020-12-27 17:40] jaydeeatechs commented on #318
Also wondering if Neo will stake Gas in Ledger or Exodus wallets?  I would be happy to move the tokens to a different wallet, but it would be nice to know the staking limitations.

[2021-02-04 12:22] Oldguy8 opened #319 "Can't sync the blockchain"
I haven't touched my Neo since Neo-gui v2.3 in Dec '17.
I've just downloaded v2.12 and am now trying to sync with the blockchain, but it doesn't work.

What I have done:

- Download Neo-gui 2.12 stable version
- Installed .NET Framework 5.0
- Downloaded Importblocks.zip, then Unzipped importblocks.zip, then moved the entire "importblocks folder" to where my neo-gui.exe is located
- Downloaded chai

[2021-02-28 11:57] afsoon-Gla commented on #142
hi there , i bought Neo from coinex and sent to Infinito wallet . it is not shown my balance but Neotracker shoed it.
what should i do?can i send it from online wallet of neotracker.io ?

[2021-04-18 01:25] CartSkint opened #320 "Wallet Access"
I am trying to access my wallet i created with the old Neo-Gui . Its a DB3 file , i have this saved on a usb but no longer have access to the Neo Database . I have downloaded the new Neo_gui but it will not accept my db3 file only wants json file .
Any information to access this wallet would be greatly appreciated .

[2021-04-18 01:42] erikzhang commented on #320
In the Open Wallet dialog box, the file format can be selected in the lower right corner.

[2021-04-18 01:42] erikzhang commented on #320
![image](https://user-images.githubusercontent.com/10204923/115131390-6d6f1880-a02a-11eb-9677-4754c5daac69.png)

[2021-04-18 05:45] CartSkint commented on #320
Hey erik thanks for messaging back , im still unable to see anything on that tab is there any other ways to access the wallet . See picture attached
![20210418_101315](https://user-images.githubusercontent.com/82739118/115135578-28f47480-a04c-11eb-8681-9571b1e9bddd.jpg)

[2021-04-18 06:23] erikzhang commented on #320
Where did you download the software?

[2021-04-18 07:22] CartSkint commented on #320
The new software came from neo.org

[2021-04-18 08:00] superboyiii commented on #320
The new gui is for neo N3 and N3's  address is incompatible with neo legacy.  Recommand you to download neo-gui v2.12.2 or using web wallet like O3 or neonline directly.

[2021-04-18 08:15] CartSkint commented on #320
Thank you i will give that a try

[2021-11-22 21:54] dsc3425 commented on #165
Resurfacing this old chain since I am having a similar problem. For some reason years ago I transferred my Neo to "watch" - now I can get in my watch but don't have the private encryption key to get into it in the regular way. Any advice?